

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 3px;
	border: 0px solid rgba(0,0,0,0.3);
	border-bottom-width: 0px;
}

a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}

a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

    a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}

	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}
/* purple button */

a.btn.btn-purple {
	background-color: #5262BC;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

    a.btn.btn-purple:hover {
		background-color: #3f51b5;
		border-color: rgba(0,0,0,0.5);
	}

	a.btn.btn-purple:active {
		background-color: #394584;
		border-color: rgba(0,0,0,0.9);
	}
/* red button */

a.btn.btn-red {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-red:hover {
		background-color: #DA4F49;
		border-color: rgba(0,0,0,0.5);
	}

	a.btn.btn-red:active {
        background-color: #B32C24;
        border-color: rgba(0, 0, 0, 0.9);
    }

