{% load staticfiles %}

<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} </title>

	<link rel="stylesheet" type="text/css" href="{% static 'traffic/bootstrap-Sandstone.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'traffic/style_new.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'traffic/bootstrap-select.css'%}">
{#	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">#}
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">
	<script type="text/javascript" src={% static 'traffic/jquery-2.1.3.min.js'%}></script>
	<script type="text/javascript" src={% static "traffic/bootstrap.js" %}></script>
	<script type="text/javascript" src={% static "traffic/bootstrap-select.js" %}></script>
{#	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"> </script>#}
	<link rel="shortcut icon" href="{% static 'traffic/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'traffic/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68685019-1', 'auto');
          ga('send', 'pageview', location.pathname);


        var sc_project=10654028;
        var sc_invisible=1;
        var sc_security="3d4bc21f";
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" + scJsHost +
        "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    {% block style %}{% endblock %}
</head>

<body>
  <div class="mainpage" id="main">
		<div class="jumbotron">
			<div class="container">
				<h1> Mobility Data Analytics Platform </h1>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
                    {% if user.is_authenticated %}
                    <li id="nav-logout"><a href="{% url 'traffic:logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
				<ul class="nav navbar-nav">
                    <li id="nav-home"><a href="{% url 'traffic:index' %}">Home</a></li>
                    {% if perms.traffic.perm_transit %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> On-Time Performance <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'traffic:transit_ontimeperformance_byroute' %}"> Query by Route </a></li>
                            <li><a href="{% url 'traffic:transit_ontimeperformance_bystop' %}"> Query by Stop </a></li>
                            <li><a href="{% url 'traffic:transit_schedule' %}"> Query by Trip </a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'traffic:transit_stopskipping' %}">Stop Skipping</a></li>
                    <li><a href="{% url 'traffic:transit_bustraveltime' %}">Bus Travel Time</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Waiting Time <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'traffic:transit_waitingtime_byroute' %}"> Query by Route </a></li>
                            <li><a href="{% url 'traffic:transit_waitingtime_bystop' %}"> Query by Stop </a></li>
                            <li><a href="{% url 'traffic:transit_waitingtime_byOD' %}"> Query by OD Pair (In construction) </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crowding Level <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'traffic:transit_crowding' %}"> Statistics for Stops </a></li>
                            <li><a href="{% url 'traffic:transit_crowding_hm' %}"> Heat Map </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bus Bunching <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'traffic:transit_busbunching' %}"> Statistics for Stops </a></li>
                            <li><a href="{% url 'traffic:transit_busbunching_hm' %}"> Heat Map </a></li>
                        </ul>
                    </li>
                    {% endif %}
				</ul>
			</div>
		</nav>
      <div id="lw" style="float: left;">
          {% block content %}{% endblock %}
      </div>

      {% block map %}{% endblock %}

      <div style="width:100%;height:2px;margin:0 auto;padding:0;background-color:#ddd;overflow:hidden;"></div>
      <footer>
       <p class="footer_content" style="text-align:center;padding-top: 10px">
        <a href="http://www.cmu.edu/index.shtml" target="_blank">Carnegie Mellon University</a> | <a href="http://heinz.cmu.edu/index.aspx" target="_blank">Heinz College</a> | <a href="http://traffic21.heinz.cmu.edu/" target="_blank">Traffic21</a> | <a href="http://mac.heinz.cmu.edu/resource.html" target="_blank">Founding Source</a> |<a href="http://mac.heinz.cmu.edu/index.html#contact" target="_blank">Contact Us</a> </p>
      </footer>

	</div>Founding Source
</body>


<script>
    var url = window.location;
	// Will only work if string in href matches with location
{#	$('ul.nav a[href="'+ url +'"]').parent().addClass('active');#}
    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
    	return this.href == url;
	}).parent().addClass('active');
    $('ul.nav a').filter(function() {
    	return this.href == url;
	}).parent().parent().parent().addClass('active');
</script>

{% block script %}{% endblock %}

</html>
