{% extends "traffic/base.html" %}

{% block title %}
Power of 32 RTIS - Home
{% endblock %}

{% block map %}


			<div class="text" style="float:left;width:55%;padding-left: 35px;padding-top: 25px;font-size: medium;">
				<h3>Goal:</h3>
				<ul>
					<li>Create a regional traveler information system to provide real-time information to enable modal and route choices for people and freight.
				</ul>
				<h3>Strategies:</h3>
		 		<ul>
					<li>Connect the 511 systems being developed in the states to create an online trip planner.</li>
					<li>Promote operational coordination of the myriad transit agencies within the region, with an eye toward information sharing and trip planning so that potential riders can understand where and how they can get from A to B by accessing more that one system.</li>
					<li>Add other modes to leverage this resource as an organizing tool and principle with significant value to every corner of the region,</li>
				</ul>
			</div>	
				<div class="p32_map" style="float:right; width:40%; padding-right: 5px; padding-top: 10px;">
					<img src= "http://www.powerof32.org/admin/uploads/p32-regional-map.png" width="450px">
				</div>
{% endblock %}
