{% extends "traffic/base.html" %}

{% block title %}
MDAP - Home
{% endblock %}

{% block style %}
<style>
    #lw{
        width: 0;
    }
</style>
{% endblock %}

{% block map %}
    <h1 style="text-align: center"> Mobility Data Analytics Platform </h1>
        <p style="text-align: center">   <img src="https://s3-us-west-2.amazonaws.com/605emr/bgnew2-z4HhCnJ6.jpg" width="50%" align="middle">
    </p>


{#    <div class="text" style="width:60%;font-size: medium;margin: 0 auto;">#}
{#        <h3>Goal:</h3>#}
{#        <ul>#}
{#            <li>Create a regional traveler information system to provide real-time information to enable modal and route choices for people and freight.#}
{#        </ul>#}
{#        <h3>Strategies:</h3>#}
{#        <ul>#}
{#            <li>Connect the 511 systems being developed in the states to create an online trip planner.</li>#}
{#            <li>Promote operational coordination of the myriad transit agencies within the region, with an eye toward information sharing and trip planning so that potential riders can understand where and how they can get from A to B by accessing more that one system.</li>#}
{#            <li>Add other modes to leverage this resource as an organizing tool and principle with significant value to every corner of the region.</li>#}
{#        </ul>#}
{#    </div>#}

{% endblock %}
