{% extends "traffic/base.html" %}

{% load staticfiles %}

{% block title %}
Power of 32 RTIS - Parking
{% endblock %}

{% block style %}
<style>
    #overlaycon {
        height: 600px;
    }
#charback {
    position: relative;
    top: -320px;
    left: 26%;
    z-index: 10;
}
#chart1 {
    position: relative;
    top: -320px;
    left: 26%;
    z-index: 100;
}

    </style>
<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css">
    <link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
        <link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
            <style>html { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }</style>
            <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1411/styles/kendo.common.min.css" />
            <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1411/styles/kendo.default.min.css" />
            <link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css">
                <link rel="stylesheet" href="{% static 'traffic/style_closure.css' %}">
                    
                    {% endblock %}
                    
                    {% block content %}
                    
                    
                    <div id="user_input" class="well" style="height: 600px;">
                        
                        <div class="container" style="width: inherit">
                            <div class="row" style="margin-top:3px;margin-right:auto;margin-left: 20px;"> <h2>Parking info</h2></div>
                            <div class="row" style="margin-top:10px;margin-right:auto;margin-left: 0px;"> <h5><b>Select date and time:</b></h5></div>
                            <div id="timepick">
                                <div id="to-do" align="middle" style="width:100%;">
                                    <input id="datetimepicker" />
                                </div>
                            </div>
                            <a type="button" class="btn btn-blue" id="check_btn" align="middle" style="margin-top:10px;width:90%;">
                                <span class="glyphicon glyphicon-search"> </span> &nbsp; Inquiry </a> <br>
                            {#<input type="button" value="Update" />#}
                            <br>
                            <div align="middle" style="height: 2px;  text-align: left"><span  style=" top: -0.5em;"><h4>--------------------------Or------------------------</h4></span></div>
                            <br>
                            
                            <div class="row" id = "future22" style="margin-top:10px;margin-left:4px;" align="left"> <h5><b>  Check future occupancy: </b><i>slide to pick a delay </i></h5></div>
                            
                            <input type="range" min="0" max="90" value="10" step="10" id = 'rangebar' oninput="showValue(this.value)" onchange="changeclk(this.value)" />
                            
                            <a href="#" type="button" class="btn btn-red" id="reset_btn" style="margin-top:10px; margin-right:10px;width:90%;">
                                <span class="glyphicon glyphicon-search" id = 'future'> </span> &nbsp; Check 10 min later </a> <br>
                            <br>
                            <div  align="middle" class="row" id="p1"> <h5>Hover over a street to check occupancy</h5> </div>
                        </div>
                    </div>
                    {% endblock %}
                    
                    {% block map %}
                    
                    <div id = 'overlaycon'>
                        <div id="map"; style="opacity: 1"></div>
                        
                        <div id="chart">
                            <h5 style="text-align: right"> * Click on the streets to see the occupancy distribution over one day.</h5>
                            <div id="chart1" style="height:250px;width:70%"></div>
                        </div>
                    </div>
                    {% endblock %}
                    
                    
                    {% block script %}
                    
                    <script src="http://cdn.kendostatic.com/2014.3.1411/js/kendo.all.min.js"></script>
                    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
                    <script type="text/javascript" src="{% static 'traffic/terminals_geoJSON.js' %}"></script>
                    <script type="text/javascript" src="{% static 'traffic/jquery.jqplot.min.js' %}"></script>
                    <!--<script type="text/javascript" src="{% static 'traffic/jqplot.cursor.js' %}"></script>-->
                    <script type="text/javascript" src="{% static 'traffic/jqplot.dateAxisRenderer.min.js' %}"></script>
                    
                    
                    <script>
                        // create a map in the "map" div, set the view to a given place and zoom
                        //////////////////////////////data picker
                        var mm;
                        var yy;
                        var dd;
                        var weekday;
                        var hour;
                        var minu;
                        var streetLayer, truckLayer;
                        var terminalLayer, lotLayer;
                        var streets;
                        var map;
                        
                        function updateime(){
                        var d = new Date($("#datetimepicker").data("kendoDateTimePicker").value());
                        mm = d.getMonth()+1;
                        yy = d.getFullYear();
                        dd = d.getDate();
                        var day = d.getDay();
                        if (day==0 || day == 6){
                        weekday = 0;
                        }
                        else weekday = 1;
                        hour = d.getHours();
                        minu = d.getMinutes();
                        }
                        $('#map').click(function(){
                        $("#chart1").empty();
                        var element = document.getElementById('map');
                        element.style.opacity = "1";
                        });
                        $('#check_btn').click(function(){
                        updateime();
                        $("#chart1").empty();
                        var element = document.getElementById('map');
                        element.style.opacity = "1";
                        var pd,pm;
                        pd = dd;
                        pm = mm;
                        $.get("../parking_geoJSON_prediction/", {pd:pd,pm:pm}, function(data, textStatus){
                        
                        streets = $.parseJSON(data);
                        //$('#txtHint').text(terminals);
                        showOcp();
                        },"json");
                        });
                        
                        $('#reset_btn').click(function(){
                        $("#chart1").empty();
                        var element = document.getElementById('map');
                        element.style.opacity = "1";
                        var offset = $("#rangebar").val()
                        var datetime = new Date()
                        var timeinsec = datetime.getTime()
                        datetime = new Date(timeinsec + offset*60000)
                        var datetimepicker = $("#datetimepicker").data("kendoDateTimePicker");
                        datetimepicker.value(datetime);
                        updateime();
                        var pd,pm;
                        pd = dd;
                        pm = mm;
                        $.get("../parking_geoJSON_prediction/", {pd:pd,pm:pm}, function(data, textStatus){
                        streets = $.parseJSON(data);
                        //$('#txtHint').text(terminals);
                        showOcp();
                        },"json");
                        });
                        
                        
                        function showValue(newValue)
                        {
                        document.getElementById("reset_btn").innerHTML = "<span class='glyphicon glyphicon-search' > </span> &nbsp; Check " +newValue+" min later"
                        }
                        
                        function changeclk(newValue)
                        {
                        document.getElementById("reset_btn").innerHTML = "<span class='glyphicon glyphicon-search' > </span> &nbsp; Check " +newValue+" min later"
                        var datetime = new Date()
                        var timeinsec = datetime.getTime()
                        datetime = new Date(timeinsec + newValue*60000)
                        var datetimepicker = $("#datetimepicker").data("kendoDateTimePicker");
                        datetimepicker.value(datetime);
                        updateime();
                        }
                        
                        /////////////////////////////////////////
                        
                        $(document).ready(function(){
                        $("#datetimepicker").kendoDateTimePicker({
                        value:new Date()
                        });
                        updateime();
                        var pd,pm;
                        pd = dd
                        pm = mm
                        $.get("../parking_geoJSON_prediction/", {pd:pd,pm:pm}, function(data, textStatus){
                        streets = $.parseJSON(data);
                        //$('#txtHint').text(terminals);
                        showOcp();
                        },"json");
                        var slider = $("#slider").kendoSlider({
                        increaseButtonTitle: "Right",
                        decreaseButtonTitle: "Left",
                        min: 0,
                        max: 90,
                        smallStep: 2,
                        largeStep: 1
                        }).data("kendoSlider");
                        });
                        
                        // add an OpenStreetMap tile layer
                        streets = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        }),
                        grayscale = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                        id: 'examples.map-20v6611k'
                        });
                        
                        //map = L.map('map').setView([40.4407937, -80.0029874], 16);
                        var map = L.map('map', {
                        center: [40.4407937, -80.0029874],
                        zoom: 16,
                        layers: [grayscale]
                        });
                        
                        var baseMaps = {
                        "Grayscale": grayscale,
                        "Streets": streets
                        };
                        
                        /*var overlayMaps = {
                        "Parking Terminals": terminalLayer
                        };*/
                        
                        var control = L.control.layers(baseMaps,null,{collapsed:false}).addTo(map);
                        
                        function getColor(d) {
                        return d > 0.6   ? '#FF0000' :
                        d > 0.5   ? '#FFFF00' :
                        '#008000';
                        }
                        
                        function parkingMarkerStyle(){
                        return {
                        radius: 5,
                        fillColor: 'white',
                        color: 'blue',
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.9
                        };
                        }
                        
                        var info = L.control();
                        
                        info.onAdd = function (map) {
                        this._div = L.DomUtil.create('div', 'info');
                        this.update();
                        return this._div;
                        };
                        
                        info.update = function (props) {
                        var content = '< 10%'
                        if(props){
                        var cell = hour * 6 + parseInt(minu/10);
                        if (cell >48 && cell < 108) {
                        content = ('' + props.occupancy[cell] * 100).substr(0, 5) + '%'
                        }
                        }
                        var date = new Date($("#datetimepicker").data("kendoDateTimePicker").value())
                        var hourr = date.getHours();
                        hourr = (hourr < 10 ? "0" : "") + hourr;
                        var min  = date.getMinutes();
                        min = (min < 10 ? "0" : "") + min;
                        document.getElementById("p1").innerHTML = (props ?
                        '<b>' + props.street + '</b>' + '<br><b>Estimated Occupancy: </b>' + content + " <br><b>Time of inquiry:</b> "+ hourr +":" +min
                        : '<h5>Hover over a street to check occupancy</h5>');
                        };
                        info.updateT = function (props) {
                        var content = '< 10%'
                        if(props){
                        var cell = hour * 6 + parseInt(minu/10);
                        if (cell >48 && cell < 108) {
                        content = (''+Math.min(props.occupancy[cell]*150,100)).substr(0,5)+'%'
                        }
                        }
                        var date = new Date($("#datetimepicker").data("kendoDateTimePicker").value())
                        var hourr = date.getHours();
                        hourr = (hourr < 10 ? "0" : "") + hourr;
                        var min  = date.getMinutes();
                        min = (min < 10 ? "0" : "") + min;
                        document.getElementById("p1").innerHTML = (props ?
                        '<b>' + props.street + '</b>' +
                        '<br><b>Estimated Occupancy: </b>' + content + " <br><b>Time of inquiry:</b> " + hourr +":" +min
                        : '<h5>Hover over a street to check occupancy</h5>');
                        };
                        
                        info.updateLot = function (props) {
                        document.getElementById("p1").innerHTML =(props ?
                        props.long_name + '<br>' + props.address1 + ' ' + props.address2 + '<br>Availiable Spots: ' + props.available_spots + '<br>Hours: ' + props.hours
                        : '<h5>Hover over a street to check occupancy</h5>');
                        };
                        
                        info.addTo(map);
                        
                        
                        function highlightFeature(e) {
                        var layer = e.target;
                        
                        layer.setStyle({
                        weight: 8,
                        });
                        
                        if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                        }
                        
                        info.update(layer.feature.properties);
                        }
                        
                        function highlightFeatureT(e) {
                        var layer = e.target;
                        
                        layer.setStyle({
                        weight: 8,
                        });
                        
                        if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                        }
                        
                        info.updateT(layer.feature.properties);
                        }
                        
                        function highlightFeatureLot(e) {
                        var layer = e.target;
                        
                        if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                        }
                        
                        info.updateLot(layer.feature.properties);
                        }
                        
                        
                        
                        function resetHighlight(e) {
                        streetLayer.resetStyle(e.target);
                        info.update();
                        //$('#chart1').empty();
                        }
                        
                        function resetHighlightT(e) {
                        truckLayer.resetStyle(e.target);
                        info.updateT();
                        //$('#chart1').empty();
                        }
                        
                        function resetHighlightLot(e) {
                        lotLayer.resetStyle(e.target);
                        info.updateLot();
                        //$('#chart1').empty();
                        }
                        
                        function onEachFeature(feature, layer) {
                        layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        });
                        var content = '< 10%'
                        var cell = hour * 6 + parseInt(minu/10);
                        if (cell >48 && cell < 108) {
                        content = (''+feature.properties.occupancy[cell]*100).substr(0,5)+'%'
                        }
                        var date = new Date($("#datetimepicker").data("kendoDateTimePicker").value())
                        var hourr = date.getHours();
                        hourr = (hourr < 10 ? "0" : "") + hourr;
                        var min  = date.getMinutes();
                        min = (min < 10 ? "0" : "") + min;
                        if (feature.properties && feature.properties.street && feature.properties.occupancy) {
                        layer.bindPopup("Street: " + feature.properties.street + "<br/>Estimated Occupancy: " + content +"<br>Time of inquiry: "+ hourr +":" +min).on('click', function(e){
                        $("#chart1").empty();
                        var element = document.getElementById('map');
                        element.style.opacity = "0.4";
                        n=feature.properties.occupancy.length;
                        var line = [];
                        for(var i=48;i<109;i++){
                        var hour = Math.floor(i/6);
                        var minute = (i%6)*10;
                        if(minute==0){
                        minute = "00";
                        }
                        var point = [""+hour+":"+minute,feature.properties.occupancy[i]];
                        line.push(point);
                        }
                        
                        var d = new Date($("#datetimepicker").data("kendoDateTimePicker").value());
                        var index = parseInt(d.getHours()*6)+parseInt(d.getMinutes()/10) - 48
                        if (index<0 || index>60){
                        index = 1;
                        }
                        var plot1 = $.jqplot('chart1', [line.slice(0, index), line.slice(index-1)], {
                        title:'Occupancy Distribution of ' + feature.properties.street + ' : Car',
                        axes:{
                        xaxis:{renderer:$.jqplot.DateAxisRenderer,tickOptions:{formatString:'%H:%M'}},
                        yaxis:{min:0, max:1}
                        },
                        
                        grid: {
                        drawGridLines: true,        // wether to draw lines across the grid or not.
                        gridLineColor: '#cccccc',    // *Color of the grid lines.
                        background: '#FFFFFF'
                        },
                        seriesColors: ["#999598","#00FF00"],
                        series:[{lineWidth:4, markerOptions:{style:'circle',size:6}}]
                        });
                        
                        });
                        }
                        }
                        
                        function onEachFeatureT(feature, layer) {
                        layer.on({
                        mouseover: highlightFeatureT,
                        mouseout: resetHighlightT,
                        });
                        var content = '< 10%'
                        var cell = hour * 6 + parseInt(minu/10);
                        if (cell >48 && cell < 108) {
                        content = (''+Math.min(feature.properties.occupancy[cell]*150,100)).substr(0,5)+'%'
                        }
                        var date = new Date($("#datetimepicker").data("kendoDateTimePicker").value())
                        var hourr = date.getHours();
                        hourr = (hourr < 10 ? "0" : "") + hourr;
                        var min  = date.getMinutes();
                        min = (min < 10 ? "0" : "") + min;
                        if (feature.properties && feature.properties.street && feature.properties.occupancy) {
                        layer.bindPopup("Street : " + feature.properties.street + "<br/>Estimated Occupancy : " +content+"<br>Time of Inquiry: "+ hourr +":" +min).on('click', function(e){
                        $("#chart1").empty();
                        var element = document.getElementById('map');
                        element.style.opacity = "0.4";
                        n=feature.properties.occupancy.length;
                        var line = [];
                        for(var i=0;i<n;i++){
                        var hour = Math.floor(i/6);
                        var minute = (i%6)*10;
                        if(minute==0){
                        minute = "00";
                        }
                        var point = [""+hour+":"+minute,Math.min(feature.properties.occupancy[i]*1.5,1)];
                        line.push(point);
                        }
                        var plot1 = $.jqplot('chart1', [line], {
                        title:'Occupancy Distribution of ' + feature.properties.street + ' : Truck',
                        axes:{
                        xaxis:{renderer:$.jqplot.DateAxisRenderer,tickOptions:{formatString:'%H:%M'}},
                        yaxis:{min:0, max:1}
                        },
                        series:[{lineWidth:4, markerOptions:{style:'circle',size:6}}]
                        });
                        });
                        }
                        }
                        
                        
                        function showOcp() {
                        var cell = hour * 6 + parseInt(minu/10);
                        var st_in_map = true;
                        var tr_in_map = false;
                        
                        if(streetLayer){
                        control.removeLayer(streetLayer);
                        if(map.hasLayer(streetLayer)){
                        map.removeLayer(streetLayer);
                        }
                        else{
                        st_in_map = false;
                        }
                        }
                        
                        if(truckLayer){
                        control.removeLayer(truckLayer);
                        if(map.hasLayer(truckLayer)){
                        map.removeLayer(truckLayer);
                        tr_in_map = true;
                        }
                        }
                        
                        streetLayer = L.geoJson(streets, {
                        style: function(feature){
                        if(feature.properties.occupancy[cell] < 0.5){
                        return {weight:7, color:'green', opacity: 0.9};
                        }else if(feature.properties.occupancy[cell] < 0.6){
                        return {weight:7, color:'yellow', opacity: 0.9};
                        }else{
                        return {weight:7, color:'red', opacity: 0.9};
                        }
                        },
                        onEachFeature:onEachFeature
                        });
                        if(st_in_map){
                        streetLayer.addTo(map);
                        }
                        control.addOverlay(streetLayer,'Street Parking');
                        
                        truckLayer = L.geoJson(streets, {
                        style: function(feature){
                        if(feature.properties.occupancy[cell]*1.5 < 0.5){
                        return {weight:7, color:'green', opacity: 0.9};
                        }else if(feature.properties.occupancy[cell]*1.5 < 0.6){
                        return {weight:7, color:'yellow', opacity: 0.9};
                        }else{
                        return {weight:7, color:'red', opacity: 0.9};
                        }
                        },
                        onEachFeature:onEachFeatureT
                        });
                        if(tr_in_map){
                        truckLayer.addTo(map);
                        }
                        control.addOverlay(truckLayer,'Truck Parking');
                        }
                        
                        
                        terminalLayer = L.geoJson(terminals,{
                        pointToLayer:function(feature, latlng){
                        return L.circleMarker(latlng, parkingMarkerStyle());
                        },
                        onEachFeature:function(feature, layer){
                        if (feature.properties && feature.properties.street) {
                        layer.bindPopup("Street : " + feature.properties.street);
                        }
                        }
                        }).addTo(map);
                        control.addOverlay(terminalLayer, 'Terminals');
                        
                        var legend = L.control({position: 'bottomright'});
                        
                        legend.onAdd = function (map) {
                        
                        var div = L.DomUtil.create('div', 'info legend'),
                        grades = [0, 0.5, 0.6, 1];
                        
                        // loop through our density intervals and generate a label with a colored square for each interval
                        div.innerHTML = "<strong>Occupancy</strong> <br><br>" ;
                        for (var i = 0; i < grades.length-1; i++) {
                        div.innerHTML +=
                        '<i style="background:' + getColor(grades[i] + 0.01) + '"></i> ' +
                        grades[i] + '&ndash;' + grades[i + 1] + '<br><br>' ;
                        }
                        
                        return div;
                        };
                        
                        legend.addTo(map);
                        
                        function getColorLots(d) {
                        return d >= 100   ? '#008000' :
                        d >= 20    ? '#FFFF66' :
                        d > 0      ? '#FF9900' :
                        '#FF0000' ;
                        }
                        
                        function lotsMarkerStyle(d){
                        return {
                        radius: 7,
                        fillColor: getColorLots(d),
                        color: 'white',
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.9
                        };
                        }
                        
                        function onEachFeatureLot(feature, layer) {
                        layer.on({
                        mouseover: highlightFeatureLot,
                        mouseout: resetHighlightLot,
                        });
                        if (feature.properties) {
                        layer.bindPopup(feature.properties.long_name + '<br>' + feature.properties.address1 + ' ' + feature.properties.address2 + '<br>Availiable Spots: ' + feature.properties.available_spots + '<br>Hours: ' + feature.properties.hours);
                        }
                        }
                        
                        $.get("../parking_lots/", function(data, textStatus){
                        //$('#txtHint').text(data);
                        lotLayer = L.geoJson(data,{
                        pointToLayer:function(feature, latlng){
                        return L.circleMarker(latlng, lotsMarkerStyle(feature.properties.available_spots));
                        },
                        onEachFeature:onEachFeatureLot
                        }
                        );
                        control.addOverlay(lotLayer,'Parking Lots');
                        },"json");
                        
                        $('#update_lots').click(function(){
                        if(lotLayer){
                        control.removeLayer(lotLayer);
                        if(map.hasLayer(lotLayer)){
                        map.removeLayer(lotLayer);
                        }
                        }
                        if(map.hasLayer(streetLayer)){
                        map.removeLayer(streetLayer);
                        }
                        if(map.hasLayer(truckLayer)){
                        map.removeLayer(truckLayer);
                        }
                        if(map.hasLayer(terminalLayer)){
                        map.removeLayer(terminalLayer);
                        }
                        $.get("../parking_lots/", function(data, textStatus){
                        //$('#txtHint').text(data);
                        lotLayer = L.geoJson(data,{
                        pointToLayer:function(feature, latlng){
                        return L.circleMarker(latlng, lotsMarkerStyle(feature.properties.available_spots));
                        },
                        onEachFeature:onEachFeatureLot
                        }
                        ).addTo(map);
                        control.addOverlay(lotLayer,'Parking Lots');
                        },"json");
                        
                        });
                        </script>
                    
                    {% endblock %}
