{% extends "traffic/base.html" %}

{% load staticfiles %}

{% block title %}
    MDAP - Sensor Counts
{% endblock %}

{% block style %}
    <style>
        #overlaycon {
            height: 600px;
        }
        #map{
            z-index: 100;
            position: relative;
            /*top: -163px;*/
        }
        #charts {
            background: #ffffff;
            height:30%;
            width:25%;
            opacity: 0.93;
            position: absolute;
            left: 25%;
            border-radius: 3px;
            box-shadow:8px 8px 13px #CCCCCC;
            z-index: 101;
            visibility: hidden;

        }
        #chart1 {
            background: #ffffff;

            opacity: 0.93;
            position: relative;
            border-radius: 3px;
            box-shadow:8px 8px 13px #CCCCCC;
            z-index: 101;
            visibility: hidden;

        }
        #chart2 {
            background: #ffffff;
            opacity: 0.93;
            position: relative;
            border-radius: 3px;
            box-shadow:8px 8px 13px #CCCCCC;
            z-index: 101;
            visibility: hidden;

        }

    #p1{
            background: #ffffff;
            border: 2px solid;
            border-radius: 10px;
            border-color: #3f51b5;
            position: relative;
            opacity: 0.93;
            top: 0px;
            margin-left:1%;
            height : 110px;
            text-align: center;
            width : 97%;
            z-index: 10;

    }

    .legend {
        line-height: 18px;
        height:90px;
        width:170px;
        right: -10px;
        bottom: -10px;
        border-radius: 5px;
        background: white;
        box-shadow: -2px -2px 2px #CCCCCC;
        opacity: 0.9;
    }

    .legend i {
        width: 28px;
        height: 7px;
        float: left;
        border-radius: 3px;
        margin-right: 8px;
        margin-left: 7px;
        margin-top: 7px;
        opacity: 0.9;
    }
    .legend j {
        width: 28px;
        height: 7px;
        float: left;
        border-radius: 3px;
        margin-right: 8px;
        margin-left: 7px;
        margin-top: 5px;
        opacity: 0.9;
    }.legend k {
        width: 28px;
        height: 7px;
        float: left;
        border-radius: 3px;
        margin-right: 8px;
        margin-left: 7px;
        margin-top: 5px;
        opacity: 0.9;
    }

    </style>
    <link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
    <link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
    <style>html {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }</style>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="{% static 'traffic/style_closure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'traffic/bootstrap_patch.css' %}">
{% endblock %}

{% block content %}


    <div id="user_input" class="well" style="overflow:auto;height:100%;">

        <div class="container" style="width: inherit">
            <div class="row" style="margin-top:3px;text-align: center"><h3>Parking info</h3></div>
                        <div align="mid" class="row" id="p1"><h5>Hover over a street to check occupancy</h5><br><br></div>

            <div class="row" id ="plzwait" style="margin-top:10px;margin-right:auto;margin-left: 0px;"><h5><b>Select time for inquiry: </b></h5></div>

            <div class="row" style="margin-top:10px;margin-right:auto;margin-left: 0px;">
                <div id="timepick">
                    <div id="to-do" align="center" style="width:120%;margin-left: -15px;">
                        <label for="timepicker"><h6><i>Time: </i></h6></label> <input style = "width : 120px"  id="timepicker"/>
                    </div>
                </div>
            </div>

{#            <a type="button" class="btn btn-purple" id="check_btn" align="middle" style="margin-top:5px;width:90%;">#}
{#                <span class="glyphicon glyphicon-search"> </span> &nbsp; Inquiry </a> <br>#}
            {#<input type="button" value="Update" />#}

        </div>
    </div>
{% endblock %}

{% block map %}

    <div id='overlaycon'>
        <div id = 'foo'></div>
        <div id = "charts">
            <div id="chart1" class="chart"></div>
            <div id="chart2" class="chart"></div>
        </div>
        <div id="map" ; style="opacity: 1"></div>
    </div>
{% endblock %}


{% block script %}

    <script src="http://cdn.kendostatic.com/2014.3.1411/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="{% static 'traffic/jquery.jqplot.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'traffic/jqplot.cursor.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'traffic/jqplot.dateAxisRenderer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'traffic/spinner.js' %}"></script>


    <script>
        // create a map in the "map" div, set the view to a given place and zoom
        //////////////////////////////data picker
        "use strict";

        var counts, links;
        var countLayerDict;
        var countLayer, linkLayer, highlightSensorLayer;

        //time picker
        $("#timepicker").kendoTimePicker({
            value: new Date(2002,1,1,10,0,0),
            interval: 60,
            change: function(){
                countLayer = showCount(map, info, control, countLayer, counts, this.value().getHours());
            }
        });
        var timepicker = $("#timepicker").data("kendoTimePicker");

                // add an OpenStreetMap tile layer
        var streets = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        });
        var grayscale = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                                    maxZoom: 18,
                                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                                    id: 'examples.map-20v6611k'
        });
        var map = L.map('map', {
            center: [40.4407937, -80.0029874],
            zoom: 16,
            layers: [grayscale]
        });

        var baseMaps = {
            "Grayscale": grayscale,
            "Streets": streets
        };

        /*var overlayMaps = {
         "Parking Terminals": terminalLayer
         };*/


        // right top control
        var control = L.control.layers(baseMaps, null, {collapsed: false}).addTo(map);


        // info
        var info = L.control();



        function writeInfoContent(props, hour) {
            var content = "<b>" + props.sid + "</b>";

            if (props.data.length == 0 || props.data[hour] == -1)
                content += "<br> No Data <br>";
            else
                content += "<br> Estimated Count from " + hour + " to " + (hour + 1) + ": <b>" + props.data[hour] + "</b><br>";

            return content;
        }
        info.update = function (props, hour) {

            var content = "";
            if (props) {
                if (props.sid.indexOf("@") < 0) { // link
                    var sensors = countLayerDict[props.sid];
                    sensors.forEach(function(layer) {
                        content += writeInfoContent(layer.feature.properties,hour);
                    })
                }
                else content = writeInfoContent(props,hour); // sensor
            }
            document.getElementById("p1").innerHTML = (props ?
                    content
                    : '<h5>Hover over a meter to check count</h5><br><br>');

        };

        // right bottom legend
        var legend = L.control({position: 'bottomright'});
            legend.onAdd = function () {
                var div = L.DomUtil.create('div', 'info legend');
                div.innerHTML += " <b>@1</b>: Westbound, Southbound<br> <b>@2</b>: Eastbound, Northbound<br>"
                div.innerHTML += '<i style="background:green' + '"></i> ' + "Occupancy &le; 60%"+ "<br>";
                div.innerHTML += '<j style="background:yellow' +  '"></j> ' + "Occupancy &le; 85%"+ "<br>";
                div.innerHTML += '<k style="background:red' +  '"></k> ' + "Occupancy > 85%"+ "<br>";

                return div;
            };
        legend.addTo(map);

        /////////////time



        /////////////spinner
         var spinneropts = {
             lines: 13, // The number of lines to draw
             length: 20, // The length of each line
             width: 10, // The line thickness
             radius: 30, // The radius of the inner circle
             corners: 1, // Corner roundness (0..1)
             rotate: 0, // The rotation offset
             direction: 1, // 1: clockwise, -1: counterclockwise
             color: '#000', // #rgb or #rrggbb or array of colors
             speed: 1, // Rounds per second
             trail: 60, // Afterglow percentage
             shadow: false, // Whether to render a shadow
             hwaccel: false, // Whether to use hardware acceleration
             className: 'spinner', // The CSS class to assign to the spinner
             zIndex: 2e9, // The z-index (defaults to 2000000000)
             top: '60%', // Top position relative to parent
             left: '63%' // Left position relative to parent
         };

        var target = document.getElementById('foo');
        var spinner = new Spinner(spinneropts).spin(target);
        target.style.zIndex = "110";
        var target = document.getElementById('map');
        target.style.opacity = '0.2';
        target = document.getElementById('chart1');
        target.style.opacity= '0';

        // get counts data from server

        $.get("../get_sensors_counts/",function(data,textStatus){
            counts = data;
            countLayer = showCount(map,info,control, countLayer, counts, timepicker.value().getHours());
        },"json");

        // get links from server

        $.get("../get_sensors_links/",function(data,textStatus){
            links = data;
            linkLayer = showLinks(map,info,control, linkLayer, links, timepicker, countLayerDict);
        },"json");

        // stop spinner and reset map style
        spinner.stop();
        var target = document.getElementById('foo');
        target.style.zIndex = "1";
        var mapper = document.getElementById('map');
        mapper.style.opacity = '1';
        target = document.getElementById('chart1');
        target.style.opacity= '1';

        // hide charts and highlighted sensors(of clicked link) when map is clicked but not when map is dragged
        var isDragging = false;
        map.on("mousedown",function(e) {
                isDragging = false;
            })
            .on("mousemove",function(e) {
                isDragging = true;
            })
            .on("mouseup", function(e) {
                if (!isDragging) {
                    $("#chart1").css("visibility", "hidden");
                    $("#chart2").css("visibility", "hidden");
                    if (map.hasLayer(highlightSensorLayer)) {
                        map.removeLayer(highlightSensorLayer);
                    }
                    isDragging = false;
                }
            });
        // change circle marker radius and link weight when map is zoomed
        map.on("zoomend", function(e){
            var zoom = map.getZoom();
            if (countLayer) {
                var radius = weightFromZoom(zoom);
                countLayer.eachLayer(function (layer) {
                    layer.setRadius(radius);
                });
            }
            if (linkLayer) {
                var weight = weightFromZoom(zoom);
                linkLayer.eachLayer(function(layer){
                    layer.setStyle({weight:weight});
                });
            }
        });

        function showChart(props, chartID) {
            //info.update(layer.feature.properties, hour);
            //highlightFeature(e);
            $("#" + chartID).css("visibility","visible");
            $("#" + chartID).empty();
            if (props.data.length != 0) {
                var plotData = [];
                props.data.forEach(function(count, index){
                    if (count >= 0)
                        plotData.push(["" + index + ":00",count]);
                });
                $.jqplot(chartID, [plotData], {
                    series: [{lineWidth: 3, markerOptions: {style: "filledCircle", size:5}}],
                    title: 'Counts Distribution of Sensor ' + props.sid,
                    axes: {
                        xaxis: {renderer: $.jqplot.DateAxisRenderer, tickOptions: {formatString: '%H:%M'}, ticks:["0:00", "4:00", "8:00", "12:00", "16:00", "20:00", "24:00"]},
                        yaxis: {min: 0}
                    },

                    grid: {
                        drawGridLines: true,        // wether to draw lines across the grid or not.
                        gridLineColor: '#cccccc',    // *Color of the grid lines.
                        background: '#FFFFFF'
                    },
                    seriesColors: ["#ff9900","#FF0066", "#999598"]
                });
            }
            else
                $("#" + chartID).html("<p>Sorry, no data available for sensor <b>" + props.sid + "</b>.</p>");
        }

        function showLinks(map, info, control, linkLayer, links, timepicker, countLayerDict) {
            var highlightSensorLayer;
            function onEachFeature(feature, layer){

                function highlightFeature(e) {
                    var layer = e.target;
                    layer.setStyle({
                        weight: 10
                    });
                    if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                    }

                    info.update(layer.feature.properties, timepicker.value().getHours());
                }

                function resetHighlight(e) {
                    linkLayer.resetStyle(e.target);
                    info.update();
                    //$('#chart1').empty();
                }

                if (feature.properties && feature.properties.sid) {
                    var popup = "ID: <b>" + feature.properties.sid + "</b>";
                    layer.bindPopup(popup);
                }
                layer.on("click", function (e) {
                    //map.closePopup();
                    var sid = layer.feature.properties.sid;
                    var sensors = countLayerDict[sid];
                    var sensorsGeoJson = [];
                    sensors.forEach(function(layer, num) {
                        sensorsGeoJson.push(layer.feature);
                        showChart(layer.feature.properties, "chart" + (num + 1));
                    });
                    if(map.hasLayer(highlightSensorLayer)) {
                        map.removeLayer(highlightSensorLayer);
                    }
                    highlightSensorLayer = L.geoJson(sensorsGeoJson,{
                        onEachFeature:function(feature,layer) {
                            if (feature.properties && feature.properties.sid && feature.properties.data) {
                                var popup = "ID: <b>" + feature.properties.sid + "</b>";
                                if (feature.properties.data.length != 0 && feature.properties.data[timepicker.value().getHours()] != -1)
                                    popup += "<br>Counts: <b>" + feature.properties.data[timepicker.value().getHours()] + "</b>";
                                layer.bindPopup(popup);
                            }
                        }
                    }).addTo(map);
                    map.fitBounds(layer.getBounds());
                });

                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    //click: onClick
                });
            }

            linkLayer = L.geoJson(links, {
                style: {"color":"#9ba7ff","fillOpacity": 1},
                onEachFeature: onEachFeature
            }).addTo(map);

            control.addOverlay(linkLayer, 'Streets');

            return linkLayer;
        }

        function buildLayerDict(layer) {
            countLayerDict = {};
            layer.eachLayer(function(layer) {
                var sidDir = layer.feature.properties.sid;
                var at = sidDir.indexOf("@");
                var sid = sidDir.substr(0,at);
                var Dir = sidDir.substr(at);
                if(!(countLayerDict.hasOwnProperty(sid))) countLayerDict[sid] = []
                countLayerDict[sid].push(layer);
            });
        }



        function showCount(map, info, control, countLayer, counts, hour) {

            function onEachFeature(feature, layer) {

                function highlightFeature(e) {
                    var layer = e.target;
                    // circleMarker is Path object, its different from LineStrings, cannot use the same way to resetStyle
                    var radius = layer.getRadius();
                    layer.setRadius(radius+2);
                    if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                    }

                    info.update(layer.feature.properties, hour);
                }

                function resetHighlight(e) {
                    var layer = e.target;
                    // circleMarker is Path object, its different from LineStrings, cannot use the same way to resetStyle
                    var zoom = map.getZoom();
                    var radius = weightFromZoom(zoom);
                    layer.setRadius(radius); // set radius according to current map zoom, consistent with what we do when zooming the map
                    info.update();
                }

                function onClick(e) {
                    if (map.hasLayer(highlightSensorLayer)) {
                        map.removeLayer(highlightSensorLayer);
                    }
                    showChart(e.target.feature.properties, "chart1");
                }

                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: onClick
                });

                if (feature.properties && feature.properties.sid && feature.properties.data) {
                    var popup = "ID: <b>" + feature.properties.sid + "</b>";
                    if (feature.properties.data.length != 0 && feature.properties.data[hour] != -1)
                        popup += "<br>Counts: <b>" + feature.properties.data[hour] + "</b>";
                    layer.bindPopup(popup);
                }
            }

            if (countLayer != undefined) {
                control.removeLayer(countLayer);
                if (map.hasLayer(countLayer)) {
                    map.removeLayer(countLayer);
                }
            }

            var zoom = map.getZoom();
            countLayer = L.geoJson(counts, {
                pointToLayer: function(feature, latlng) {
                    var data = feature.properties.data;
                    if (data.length == 0)
                        return L.circleMarker(latlng, meterMarkerStyle(-1, zoom));
                    else
                        return L.circleMarker(latlng, meterMarkerStyle(data[hour], zoom));
                },
                onEachFeature: onEachFeature
            }).addTo(map);

            buildLayerDict(countLayer);

            control.addOverlay(countLayer, 'Counts Meters');

            return countLayer;

        }


        function getColorLots(d) {
            return  d >= 100 ? 'red' :
                    d >= 20 ? 'yellow' :
                    d > 0 ? 'green' :
                            'black'; // no data
        }

        function meterMarkerStyle(d, zoom) {
            return {
                radius: weightFromZoom(zoom),
                fillColor: getColorLots(d),
                color: getColorLots(d),
                weight: 5,
                opacity: 0.3,
                fillOpacity: 0.5
            };
        }

        function weightFromZoom(zoom) {
            return zoom < 8 ? zoom / 8 : Math.ceil((zoom - 7)/2);
        }

    </script>

{% endblock %}
