{% extends "traffic/base.html" %}

{% load staticfiles %}

{% block title %}
MDAP - GeoJson Test
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
{% endblock %}


{% block content %}    
<div id="map"></div>
{% endblock %}
	
	

{% block script %}
<script type="text/javascript" src="{% static 'traffic/modernizr-1.5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/20141101TMC_GeoJSON_LineString.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/TMC_GeoJSON_MultiPoints20141101.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/SHP_GeoJSON_LineString20141113.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/leaflet-search.min.js' %}"></script>
<script>
	$(function(){var map = L.map('map').setView([38.900, -77.060], 11);

	// add an OpenStreetMap tile layer
    var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

    control = L.control.layers({'Base Map':basemap},null,{collapsed:false}).addTo(map);

	map.addControl( new L.Control.Search({
			url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10
		}) );
	

    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "blue",
        color: "black",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    function onEachFeature1(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("TMC : " + feature.properties.tmc +
							"<br>Road: " + feature.properties.road +
							"<br>Direction: " + feature.properties.direction +
							'<br>Miles: ' +feature.properties.miles +
							'<br>Road Order: ' + feature.properties.road_order);
        }
    }

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

    var myStyle = {
        "color": "blue",
        "weight": 6,
        "opacity": 0.65
    };

    tmclayer = L.geoJson(myTMCLineString, {
        style: myStyle,
        onEachFeature:onEachFeature1
    }).addTo(map);
    control.addOverlay(tmclayer, 'TMC-Line');

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

    function onEachFeature2(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("Number : " + feature.properties.Number);
        }
    }

    var myStyle2 = {
        "color": "#ff7800",
        "weight": 3,
        "opacity": 0.65
    };

    shplayer = L.geoJson(mySHPLinestring, {
        style: myStyle2,
        onEachFeature:onEachFeature2
    }).addTo(map);
    control.addOverlay(shplayer, 'SHP');

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

    tmclayer2=L.geoJson(myTMCMultiPoints, {
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, geojsonMarkerOptions);
        },
        onEachFeature:onEachFeature1
    }).addTo(map);
    control.addOverlay(tmclayer2, 'TMC-Point');

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

    });

 </script>
{% endblock %}


