{% extends "traffic/base2.html" %}

{% load staticfiles %}

{% block title %}
MDAP - Transit - On-Time Performance - By Trip
{% endblock %}

{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'traffic/bootstrap_patch.css'%}">

<style>
    .leaflet-control{
        line-height: 18px;
        border-radius: 5px;
        background: white;
        box-shadow: -2px -2px 2px #CCCCCC;
        opacity: 0.8;
        padding: 2px 8px 8px 8px;
    }
    .legend {
        line-height: 18px;
        height:60px;
        width:160px;
        right: -10px;
        bottom: -10px;
        border-radius: 5px;
        background: white;
        box-shadow: -2px -2px 2px #CCCCCC;
        opacity: 0.8;
    }
    .legend i {
        width: 12px;
        height: 12px;
        float: left;
        border-radius: 6px;
        margin-right: 7px;
        margin-left: 6px;
        margin-top: 6px;
        opacity: 0.9;
    }
    .legend j {
        width: 12px;
        height: 12px;
        float: left;
        border-radius: 6px;
        margin-right: 7px;
        margin-left: 6px;
        margin-top: 3px;
        opacity: 0.9;
    }
    .legend k {
        width: 12px;
        height: 12px;
        float: left;
        border-radius: 6px;
        margin-right: 7px;
        margin-left: 6px;
        margin-top: 3px;
        opacity: 0.9;
    }
</style>
<link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
<link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
<link rel="stylesheet" href="{% static 'traffic/bootstrap-switch.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/slider/css/slider.css' %}" />
{% endblock %}


{% block content %}
<div class="well" style="overflow:auto;height: 100%;">
	<div class="container" style="width: inherit">
    	<div class="row"><h4> On-Time Performance </h4></div>
        <div class="row"><p>&nbsp; &nbsp; Query by Trip: </p></div>
        <div class="row" style="margin-top:15px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>GTFS:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id='select_gtfs' name = 'select_gtfs' data-header="Select 1 GTFS Version:" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
			  	    {% for record in GTFS%}
						<option value={{record}}>{{record}}</option>
					{% endfor %}
			    </select>
            </div>
	    </div>

		<div class="row" style="margin-top:8px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Route:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id='select_route' name = 'select_route' data-header="Select 1 Route:" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
			  	    {% for route in routes%}
						<option value={{route.route_value}}>{{route.route_shortname}}</option>
					{% endfor %}
			    </select>
            </div>
	    </div>

        <div class="row" style="padding-top:8px;">
            <div class="col-md-12" style="text-align: right;">
               <input type="checkbox" id="inout" name="inout" checked>
            </div>
        </div>

        <div class="row" style="padding-top:8px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Trip:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id = "select_trip" data-header="Select 1 Trip of the Route:" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
                </select>
            </div>
	    </div>

        <div class="row" style="padding-top:8px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Stops:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id = "select_stop" data-header="Select 1 or More Stops:" class="selectpicker show-tick show-menu-arrow" multiple data-selected-text-format="count" data-live-search="true" data-width="100%">
                </select>
            </div>
	    </div>

        <button id="stops_deselect_all" class="btn btn-default btn-block" style="margin-top: 10px">
            <span class="glyphicon glyphicon-remove"> </span> &nbsp; Clear All
        </button><br>

        <div class="row" style="padding-top:15px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Date:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datepicker'>
                        <input id="s_date" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
	    </div>

		<div class="row" style="padding-top:8px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Date:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datepicker2'>
                        <input id="e_date" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
	    </div>

{#        <div class="row" style="padding-top:5px;">#}
{#            <p>Select tolerance range (Unit: mins):</p>#}
{#        <div>#}

        <div class="row" style="padding-top:30px;">
            <div class="col-md-2" style="height:20px;padding-right: 0;"><p>-12</p></div>
            <div class="col-md-9" style="padding-left: 0;padding-right: 0;">
                <input  style="width: 100%" id="slider" type="text" class="span2" value="" data-slider-value="[-3,3]" data-slider-min="-12" data-slider-max="12" data-slider-step="1"/>
            </div>
            <div class="col-md-1" style="height:20px;padding-left: 0;"><p>12</p></div>
        </div>

        <div class="row" style="padding-top:15px;">
           <div class="col-md-6" style="height: 36px;padding-right: 0;">
               <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="real_time">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Real Time
                </button>
           </div>
           <div class="col-md-6" style="padding-left: 5px;">
                <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="historical">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Historical
                </button>
           </div>
        </div>
    </div>
</div>
{% endblock %}

{% block map %}
    <div id="map"> </div>
    <div id="chartcontainer"> </div>
{% endblock %}
	

{% block script %}
<script type="text/javascript" src="{% static 'traffic/leaflet-search.min.js' %}"></script>

<script type="text/javascript" src="{% static 'traffic/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/spinner.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/slider/js/bootstrap-slider.js' %}"></script>

<script type="text/javascript" src={% static 'traffic/jquery.jqplot.min.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.barRenderer.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.categoryAxisRenderer.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.pointLabels.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.highlighter.js' %}></script>

<script>
    $('.selectpicker').selectpicker({
        style: 'btn-inverse',
        size: 10
    });

    $("#slider").slider({
	    tooltip: 'show'
    });
</script>

<script type="text/javascript">
    var options = {
        onColor: 'info',
        offColor: 'warning',
        onText: 'Inbound',
        offText: 'Outbound',
        labelWidth: 30,
        handleWidth: 92
    };
    $("[name='inout']").bootstrapSwitch(options);

    $(function () {
            $('#datepicker').datetimepicker({
                viewMode: 'years',
                format: 'MM/DD/YYYY'
            });
            $('#datepicker2').datetimepicker({
                viewMode: 'years',
                format: 'MM/DD/YYYY'
            });
    });
</script>

<script>
        var map = L.map('map').setView([40.300, -79.000], 8);

        // add an OpenStreetMap tile layer
        var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        });
	
	    var grayscale = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        }).addTo(map);

        control = L.control.layers({'Grayscale': grayscale, 'Streets':basemap},null,{collapsed:false}).addTo(map);
	
	    map.addControl( new L.Control.Search({
			url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10
		}) );
	
	    var info = L.control();
		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};
		info.update = function (props) {
			this._div.innerHTML = '<h4>Info</h4>' +  (props ?
				'<b>' + props.name + '</b>'
				: 'Hover over a stop');
		};
		info.addTo(map);

        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function () {
            var div = L.DomUtil.create('div', 'info legend');
            div.innerHTML += '<i style="background:green' + '"></i> ' + "Speed &ge; 30 MPH"+ "<br>";
            div.innerHTML += '<j style="background:yellow' +  '"></j> ' + "Speed &ge; 10 MPH"+ "<br>";
            div.innerHTML += '<k style="background:red' +  '"></k> ' + "Speed < 10 MPH"+ "<br>";
            return div;
        };
        legend.addTo(map);

	    function highlightFeature(e) {
			var layer = e.target;
			layer.setStyle({
                radius: 8,
			});
			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
			info.update(layer.feature.properties);
		}
		function resetHighlight(e) {
            var layer = e.target;
            layer.setStyle({
                radius: 6,
			});
			info.update();
		}


{#======================================= Spinner Options ===========================================#}
        var spinneropts = {
            lines: 9, // The number of lines to draw
            length: 20, // The length of each line
            width: 15, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
{#=============================================== End ================================================#}

        var selected_stops_dict = {};
        var selected_stops_layerGroup = L.layerGroup().addTo(map);
        control.addOverlay(selected_stops_layerGroup,"Selected Stops");

		function add_stop_to_map(stop_id,flag){
            if(flag) {
                if(selected_stops_dict[stop_id]){
                    return;
                }
                var num = stops_geoJson.features.length;
                for (var i = 0; i < num; i++) {
                    if (stops_geoJson.features[i].properties.stop_id == stop_id) {
                        selected_stops_dict[stop_id] = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" + stops_geoJson.features[i].properties.name + "</strong>");
                        selected_stops_layerGroup.addLayer(selected_stops_dict[stop_id]);
                        break;
                    }
                }
            }
            else{
                if(selected_stops_dict[stop_id]){
                    selected_stops_layerGroup.removeLayer(selected_stops_dict[stop_id]);
                    delete selected_stops_dict[stop_id];
                }
            }
        }

        function remove_all_stops_from_map(){
            selected_stops_layerGroup.clearLayers();
            selected_stops_dict = {};
        }

		function clickFeature(e) {
			var layer = e.target;
			$('option[value=' + layer.feature.properties.stop_id + ']', $('#select_stop')).prop("selected", true);
            $('#select_stop').selectpicker('refresh');
            add_stop_to_map(layer.feature.properties.stop_id,true);
		}

		function onEachFeature(feature, layer){
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: clickFeature
			});
			layer.bindPopup('<b>' + feature.properties.name + '</b>');
        }
	
	
	var routeLayer = L.geoJson(),
		stopsLayer = L.geoJson(),
        busLayer   = L.geoJson();
    var stops_geoJson, route_geoJson;
	function getInfo(){
        // route = [shortname]+[id], so split by '+' can get each of them
		var route = $('#select_route option:selected').attr('value');
        var direction = $('#inout').bootstrapSwitch('state');
        var GTFS = $('#select_gtfs option:selected').attr('value');
        if (direction){direction = 'I'} else {direction = 'O'}

        $(function () {
            var gtfs = $('#select_gtfs option:selected').attr('value');
            var year = gtfs.split("_")[1].substr(0,4),
                min = gtfs.split("_")[2].split("-")[0],
                max = gtfs.split("_")[2].split("-")[1];
            min = min.substr(0,2) + "/" + min.substr(2,2) + "/";
            max = max.substr(0,2) + "/" + max.substr(2,2) + "/";
            var mindate = min + year,
                maxdate;
            if (parseInt(min) > parseInt(max)){
                maxdate = max + (parseInt(year)+1).toString()
            }else{
                maxdate = max + year
            }
            $('#datepicker').data("DateTimePicker").minDate(false);
            $('#datepicker').data("DateTimePicker").maxDate(false);
            $('#datepicker').data("DateTimePicker").minDate(mindate);
            $('#datepicker').data("DateTimePicker").maxDate(maxdate);
            $('#datepicker2').data("DateTimePicker").minDate(false);
            $('#datepicker2').data("DateTimePicker").maxDate(false);
            $('#datepicker2').data("DateTimePicker").minDate(mindate);
            $('#datepicker2').data("DateTimePicker").maxDate(maxdate);
            $("#datepicker").data("DateTimePicker").date(mindate);
            $("#datepicker2").data("DateTimePicker").date(maxdate);
        });

        var target = document.getElementById('map');
        spinner = new Spinner(spinneropts).spin(target);
        target.style.opacity = '0.15';

        if (busLayer) {
            control.removeLayer(busLayer);
            if (map.hasLayer(busLayer)) {
                map.removeLayer(busLayer);
            }
        }

        remove_all_stops_from_map();
        $('#chartcontainer').empty();

		$.get("../get_route/", {route:route.split('+')[0], direction:direction}, function(data, textStatus){
			if(routeLayer){
			 	control.removeLayer(routeLayer);
			 	if(map.hasLayer(routeLayer)){
			 		map.removeLayer(routeLayer);
			 	}
            }
			if(data){
                route_geoJson = $.parseJSON(data);
                routeLayer = L.geoJson(route_geoJson,{style:{color:'green', weight:'7', opacity:'0.7'}}).addTo(map);
                map.fitBounds(routeLayer.getBounds());
                control.addOverlay(routeLayer,'Route '+route.split('+')[0]);
			}else{
                alert('No ROUTE information found, please select another route or direction!');
            }

            $.get("../get_stops/", {route:route.split('+')[0], direction:direction}, function(data, textStatus){
                $('#select_stop').empty();
                if(stopsLayer){
                    control.removeLayer(stopsLayer);
                    if(map.hasLayer(stopsLayer)){
                        map.removeLayer(stopsLayer);
                    }
                }
                if(data){
                    stops_geoJson = $.parseJSON(data);
                    stopsLayer = L.geoJson(stops_geoJson, {
                        pointToLayer:function(feature, latlng){
                                return L.circleMarker(latlng,{
                                    radius:6,
                                    fillColor: '#9ba7ff',
                                    color: 'blue',
                                    weight: 1,
                                    opacity: 0.6,
                                    fillOpacity: 0.9
                                });
                        },
                        onEachFeature:onEachFeature
                    }).addTo(map);
                    control.addOverlay(stopsLayer,'Stops');
                    for(var i=0;i<stops_geoJson.features.length;i++){
                        $("#select_stop").append("<option value="+stops_geoJson.features[i].properties.stop_id+">"+
                                stops_geoJson.features[i].properties.name +"</option>");
                    }
                    $('#select_stop').selectpicker('refresh');
                }else{
                    alert('No STOP information found. Please select another route or direction!');
                }

                $.get("../get_trips/", {route: route.split('+')[1], direction: direction, gtfs_name: GTFS}, function(data, textstatus){
                    $('#select_trip').empty();
                    if(data){
                        for(var i=0;i<data.length;i++){
                            $("#select_trip").append("<option value="+data[i].day_of_week+'+'+data[i].initial_time+'+'+
                                    data[i].trip_id+">"+data[i].trip_id.split("-")[0]+", "+data[i].initial_time+", "+data[i].day_of_week+"</option>");
                        }
                        $('#select_trip').selectpicker('refresh');
                    }
                    ///////Spinner Stop
                        spinner.stop();
                        var target = document.getElementById('map');
                        target.style.opacity = '1';
                    ///////////////////
                }, "json");
            },"json");
		},"json");
	}

    getInfo();
	$('#select_gtfs').change(getInfo);
	$('#select_route').change(getInfo);
	$('#inout').on('switchChange.bootstrapSwitch',getInfo);

    $('#select_trip').change(function aa(){$('#chartcontainer').empty();});

    $('#select_stop').change(function() {
        remove_all_stops_from_map();
        var selected_stops = $('#select_stop option:selected');
        var stops_number = selected_stops.length;
        for (var i = 0; i < stops_number; i++) {
            add_stop_to_map(selected_stops[i].value, true);
        }
    });

    $('#stops_deselect_all').click(function(){
        $('#chartcontainer').empty();
        var selected_stops = $('#select_stop option:selected');
        var stops_number = selected_stops.length;
        for(var i = 0; i < stops_number; i++){
            add_stop_to_map(selected_stops[i].value, false);
        }
        $("#select_stop option:selected").removeAttr("selected");
        $('#select_stop').selectpicker('refresh');
    });


{#=================================================== Get Metrics Begin Here =======================================#}
    function plot(stopid, name, route, direction, dev, chartname){
            var s = [];
            for (var i=0; i < 24; i++){s[i]=0}
            for (var i=0; i < dev.length; i++){
                var temp = 0;
                if (dev[i]<=0){
                    temp = Math.floor(dev[i]);
                    if (temp < -12){temp = -12}
                }else{
                    temp = Math.ceil(dev[i]);
                    if (temp > 12){temp = 12}
                }
                if (temp < 0){temp += 12}else{temp += 11}
                s[temp] += 1;
            }
			if (direction == 1){direction = 'Inbound'}else{direction = 'Outbound'}
            var ticks = ['<-11','-11','-10','-9','-8','-7','-6','-5','-4','-3','-2','-1','1','2','3','4','5','6','7','8','9','10','11','>11'];
			var plot = $.jqplot(chartname, [s], {
    			title: 'Schedule deviation distribution of Route ' + route + ' (' + direction + ') at Stop: ' + name + ' (' + stopid + ').' ,
                animate: !$.jqplot.use_excanvas,
                seriesDefaults: {
                    pointLabels: { show:false, formatString: "%#.2f" },
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                        animation: {
                            speed: 4000
                        },
                        fillToZero: true
                    }
                },
    			axes: {
                    // Use a category axis on the x axis and use our custom ticks.
                    xaxis: {
                        label:'Schedule deviation (min)',
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ticks
                    },
                    // Pad the y axis just a little so bars can get close to, but
                    // not touch, the grid boundaries.  1.2 is the default padding.
                    yaxis: {
                        label:'Count',
                        pad: 1.05,
                        tickOptions: {formatString: '%d'},
                        rendererOptions: { forceTickAt0: true}
                    }
                },
                highlighter: {
                    show: true,
                    tooltipAxes: 'y',
                    sizeAdjust: 0
                }
  			});
    }

    function get_metrics(){
        var GTFS = $('#select_gtfs option:selected').attr('value');
        var route = $('#select_route option:selected').attr('value');
        var direction = $('#inout').bootstrapSwitch('state');
        if (direction){direction = "1"} else {direction = "0"}
        var trip = $('#select_trip option:selected').attr('value');
		var selected_stops = $('#select_stop option:selected');
        var stops_number = selected_stops.length;
        if (stops_number == 0 ){
            alert("Please select at least 1 stop.");
            return;
        }

        var stops_array = new Array(stops_number),
            stopsname_array = new Array(stops_number);
        for(var i = 0; i < stops_number; i++){
            stops_array[i] = selected_stops[i].value;
            stopsname_array[i] = selected_stops[i].text;
        }
        var selected_stops_str = stops_array.join();

        var s_date = $("#s_date").val();
        if (s_date==''){alert("Please select a Start Date!");return;}
        var e_date = $("#e_date").val();
        if (e_date==''){alert("Please select a End Date!");return;}
        if ((parseInt(s_date.slice(-4)) > parseInt(e_date.slice(-4))) || (parseInt(s_date.slice(-4)) == parseInt(e_date.slice(-4))&&(parseInt(s_date.substr(0,2)) > parseInt(e_date.substr(0,2)))) || (parseInt(s_date.slice(-4)) == parseInt(e_date.slice(-4))&&(parseInt(s_date.substr(0,2)) == parseInt(e_date.substr(0,2)))&&(parseInt(s_date.substr(3,2)) > parseInt(e_date.substr(3,2)))) ){
            alert("Start Date must be no later than End Date!\n\nPlease re-select.");
            return;
        }

        var target = document.getElementById('map');
        spinner = new Spinner(spinneropts).spin(target);
        target.style.opacity = '0.15';

        var low = $("#slider").slider('getValue')[0].value.split(",")[0];
        var high = $("#slider").slider('getValue')[0].value.split(",")[1];
        if ($("#slider").slider('getValue')[0].value == ''){
            low = -3;
            high = 3;
        }

        $('#chartcontainer').empty();

        $.get("../transit_metrics_schedule_opt/", {tripinfo:trip ,rt:route.split('+')[0], dir:direction, s_date:s_date, e_date:e_date, stops:selected_stops_str, gtfs_name:GTFS}, function(data, textStatus){
            for (var i=0;i < stops_number; i++){
                $('#chartcontainer').append("<div class='row' style='padding-top:5px;'><div class='col-md-10' style='height: auto;'" +
                "id = 'col1" + stops_array[i] + "'></div><div class='col-md-2' style='height: auto;' id = 'col2" + stops_array[i] +
                "'></div></div>");

                var temp = document.createElement('div');
                temp.id = 'chart'+stops_array[i];
                temp.style.marginLeft = "20px";
                temp.style.marginTop = "20px";
                $('#col1'+stops_array[i]).append(temp);
                var tempright = document.createElement('div');
                tempright.id = 'stat'+stops_array[i];
                tempright.style.height = "300px";
                tempright.style.marginRight = "20px";
                tempright.style.marginTop = "20px";
                $('#col2'+stops_array[i]).append(tempright);

                plot(stops_array[i], stopsname_array[i], route.split('+')[0], direction, data[stops_array[i]], temp.id);

                if (data[stops_array[i]].length == 0){
                    document.getElementById('stat'+stops_array[i]).innerHTML = "<br><br><br><br> <h4> No data found for this stop.<br>Please re-select!</h4>"
                }else{
                    var avg = 0,
                        proportion = 0;
                    for (var j=0; j < data[stops_array[i]].length; j++){
                        avg += data[stops_array[i]][j];
                        if ((data[stops_array[i]][j] >= low)&&(data[stops_array[i]][j] <= high)){proportion += 1}
                    }
                    avg /= data[stops_array[i]].length;
                    proportion /= data[stops_array[i]].length;

                    var sd = 0;
                    for (var j=0; j < data[stops_array[i]].length; j++){
                        sd += Math.pow(data[stops_array[i]][j] - avg, 2)
                    }
                    sd = Math.sqrt(sd/data[stops_array[i]].length);
                    document.getElementById('stat'+stops_array[i]).innerHTML = "<br><br><br><br> <h5> <strong>Mean:</strong> <br>" + avg.toFixed(2) + " Minutes<br><br><strong>Standard Deviation:</strong> <br>" + sd.toFixed(2) + " Minutes<br><br>"
                            + "<strong>On-time Performance:</strong> <br>" + proportion.toFixed(2) + "</h5>";
                }
            }
            ///////Spinner Stop
                spinner.stop();
                var target = document.getElementById('map');
                target.style.opacity = '1';
            ///////////////////
        }, "json");
	}
{#=========================================================== End =====================================================#}


{#=================================================== Realtime Bus Begin Here =======================================#}
    function busMarkerOptions(spd)  {
        return {
            radius: 9,
            fillColor:  spd >= 30?"green":
                        spd >= 10?"yellow":
                                  "red",
            color: "white",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        }
    }

    function onEachBusFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("<strong>" + feature.properties.rt + "</strong>"
                            + "<br>Speed: " + feature.properties.spd +" mph"
                            + "<br>Destination: " + feature.properties.des);
        }
    }

    function get_bus_real_time(){
        var route = $('#select_route option:selected').attr('value');
        $.get("../bus_real_time/", {rt:route.split('+')[0]}, function(data, textStatus){
            if(busLayer){
                control.removeLayer(busLayer);
                if(map.hasLayer(busLayer)){
                    map.removeLayer(busLayer);
                }
            }
			if(data["status"] == "success"){
                 busLayer = L.geoJson(data["geoJson"], {
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, busMarkerOptions(feature.properties.spd));
                    },
                    onEachFeature:onEachBusFeature
                 }).addTo(map);
                 control.addOverlay(busLayer,"Realtime Buses");
			}
            else{
                alert(data["msg"]);
            }
		},"json");
    }
{#=========================================================== End =====================================================#}

    $("#historical").click(get_metrics);
    $("#real_time").click(get_bus_real_time);

</script>
{% endblock %}