{% extends "traffic/base2.html" %}

{% load staticfiles %}

{% block title %}
MDAP - Transit - Stop Skipping
{% endblock %}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'traffic/bootstrap_patch.css'%}">

<style>
    .leaflet-control{
        line-height: 18px;
        border-radius: 5px;
        background: white;
        box-shadow: -2px -2px 2px #CCCCCC;
        opacity: 0.8;
        padding: 2px 8px 8px 8px;
    }
    .legend {
        line-height: 18px;
        height: 60px;
        width: 250px;
        right: -10px;
        bottom: -10px;
        border-radius: 5px;
        background: white;
        box-shadow: -2px -2px 2px #CCCCCC;
        opacity: 0.9;
    }

    .legend i {
        width: 32px;
        height: 7px;
        float: left;
        border-radius: 3px;
        margin-right: 8px;
        margin-left: 7px;
        margin-top: 7px;
        opacity: 0.9;
    }

    .legend j {
        width: 32px;
        height: 7px;
        float: left;
        border-radius: 3px;
        margin-right: 8px;
        margin-left: 7px;
        margin-top: 5px;
        opacity: 0.9;
    }

    .legend k {
        width: 32px;
        height: 7px;
        float: left;
        border-radius: 3px;
        margin-right: 8px;
        margin-left: 7px;
        margin-top: 5px;
        opacity: 0.9;
    }
</style>
<link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
<link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
<link rel="stylesheet" href="{% static 'traffic/bootstrap-switch.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/slider/css/slider.css' %}"/>
<link rel="stylesheet" href="{% static 'traffic/jquery-ui/jquery-ui.css' %}">
<style>
    .ui-corner-all {
        border-radius: 8px 8px 8px 8px;
    }

    .ui-slider {
        float: left;
        background: green;
        border: none;
    }

    .ui-slider-range {
        background: #ffff00;
    }

    #sliderreddiv {
        float: right;
        height: 100%;
        background: red;
        border-radius: 0 8px 8px 0;
    }

    #slider-range {
        width: 100%;
        vertical-align: middle;
    }
</style>
{% endblock %}


{% block content %}
<div class="well" style="overflow:auto;height:100%;">
	<div class="container" style="width: inherit">
    	<div class="row"><h4> Stop Skipping </h4></div>
        <div class="row"><p>&nbsp; &nbsp; Heat Map: </p></div>
		<div class="row" style="padding-top:15px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Route:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id='select_route' name = 'select_route' data-header="Select 1 Route:" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
			  	    {% for route in routes%}
						<option value={{route}}>{{route}}</option>
					{% endfor %}
			    </select>
            </div>
	    </div>

        <div class="row" style="padding-top:5px;padding-bottom: 5px;">
            <div class="col-md-12" style="text-align: right;">
               <input type="checkbox" id="inout" name="inout" checked>
            </div>
        </div>

        <div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Stop 1:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id = "select_origin" data-header="Select 1 Stop:" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
                </select>
            </div>
	    </div>

        <div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Stop 2:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id = "select_dest" data-header="Select 1 Stop:" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
                </select>
            </div>
	    </div>

        <button id="stops_deselect_all" class="btn btn-default btn-block" style="margin-top: 10px">
            <span class="glyphicon glyphicon-remove"> </span> &nbsp; Clear All
        </button><br>

        <div class="row" style="padding-top:30px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Date:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datepicker'>
                        <input id="s_date" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
	    </div>

		<div class="row" style="padding-top:5px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Date:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datepicker2'>
                        <input id="e_date" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
	    </div>

        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='timepicker'>
                        <input id="s_time" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>

        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='timepicker2'>
                        <input id="e_time" style="height: 36px;width: 145px;" type='text' class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>

        <div class="row" style="margin-top:20px;" align="left">
            <div class="col-md-12">
                <h5>Stop Skipping Proportion thresholds:</h5>
            </div>
        </div>
        <div id="amount" style="margin-left:25px;"> 0% &nbsp;-&nbsp; 5% &nbsp;-&nbsp; 10% &nbsp;-&nbsp; 50% </div>
        <div id="slider-range"></div>

        <div class="row" style="padding-top:15px;">
           <div class="col-md-6" style="height: 36px;padding-right: 0;">
               <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="real_time">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Real Time
                </button>
           </div>
           <div class="col-md-6" style="padding-left: 5px;">
                <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="historical">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Historical
                </button>
           </div>
        </div>
    </div>
</div>
{% endblock %}

{% block map %}
    <div id="map"> </div>
    <div id="chartcontainer"> </div>
{% endblock %}
	

{% block script %}
<script type="text/javascript" src="{% static 'traffic/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/spinner.js' %}"></script>
{#<script type="text/javascript" src="{% static 'traffic/bootstrap-slider.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'traffic/jquery-ui/jquery-ui.js' %}"></script>

<script type="text/javascript" src={% static 'traffic/jquery.jqplot.min.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.barRenderer.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.categoryAxisRenderer.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.pointLabels.js' %}></script>
<script type="text/javascript" src={% static 'traffic/jqplot/plugins/jqplot.highlighter.js' %}></script>

<script>
    $('.selectpicker').selectpicker({
        style: 'btn-inverse',
        size: 10
    });
</script>

<script type="text/javascript">
    var options = {
        onColor: 'info',
        offColor: 'warning',
        onText: 'Inbound',
        offText: 'Outbound',
        labelWidth: 30,
        handleWidth: 92
    };
    $("[name='inout']").bootstrapSwitch(options);
</script>

<script type="text/javascript">
    $(function () {
        $('#datepicker').datetimepicker({
            viewMode: 'years',
            format: 'MM/DD/YYYY',
            minDate: '2012-09-01',
            maxDate: '2014-08-31',
            defaultDate: '2014-01-01'
        });
    });
    $(function () {
        $('#datepicker2').datetimepicker({
            viewMode: 'years',
            format: 'MM/DD/YYYY',
            minDate: '2012-09-01',
            maxDate: '2014-08-31',
            defaultDate: '2014-01-31'
        });
    });
    $(function () {
        $('#timepicker').datetimepicker({
            format: 'LT'
        });
    });
    $(function () {
        $('#timepicker2').datetimepicker({
            format: 'LT'
        });
    });
</script>

<script>
        var map = L.map('map').setView([40.300, -79.000], 8);

        // add an OpenStreetMap tile layer
        var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        });

        var grayscale = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        }).addTo(map);

        control = L.control.layers({'Grayscale': grayscale, 'Streets':basemap},null,{collapsed:false}).addTo(map);

	    var info = L.control();
		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};
		info.update = function (props) {
			this._div.innerHTML = '<h4>Info</h4>' +  (props ?
				'<b>' + props.name + '</b>'
				: 'Hover over a stop');
		};
		info.addTo(map);

        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function () {
            var div = L.DomUtil.create('div', 'info legend');
            div.innerHTML += '<i style="background:green' + '"></i> ' + "&nbsp Stop skipping proportion &le; 5%" + "<br>";
            div.innerHTML += '<j style="background:yellow' +  '"></j> ' + "&nbsp Stop skipping proportion &le; 10%"+ "<br>";
            div.innerHTML += '<k style="background:red' +  '"></k> ' + "&nbsp Stop skipping proportion > 10%"+ "<br>";
            return div;
        };
        legend.addTo(map);

        var sliderlow = 5;
        var sliderhigh = 10;
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 50,
                values: [5, 10],
                slide: function (event, ui) {
                    sliderlow = ui.values[0];
                    sliderhigh = ui.values[1];
                    document.getElementById("amount").innerHTML = "0%  &nbsp - &nbsp " + sliderlow + "% &nbsp - &nbsp " + sliderhigh + "% &nbsp - &nbsp 50%";
                    $('#sliderreddiv').css('width', (50 - ui.values[1])/50*100 + '%');
                }
            }).append('<div id="sliderreddiv" style="width: 80%"></div>');
        });
{#======================================= Spinner Options ===========================================#}
        var spinneropts = {
            lines: 9, // The number of lines to draw
            length: 20, // The length of each line
            width: 15, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
{#=============================================== End ================================================#}

    var heatmap_stops_dict = {};
    var heatmap_layerGroup = L.layerGroup().addTo(map);
    control.addOverlay(heatmap_layerGroup,"Heatmap");

	var routeLayer = L.geoJson(),
		stopsLayer = L.geoJson(),
        busLayer   = L.geoJson();
    var stops_geoJson, route_geoJson;

	function getInfo(){
		var route = $('#select_route option:selected').attr('value');
        var direction = $('#inout').bootstrapSwitch('state');
        if (direction){direction = 'I'} else {direction = 'O'}

        var target = document.getElementById('map');
        spinner = new Spinner(spinneropts).spin(target);
        target.style.opacity = '0.15';

        heatmap_layerGroup.clearLayers();
        heatmap_stops_dict = {};

        origin_flag = false;

        if (busLayer) {
            control.removeLayer(busLayer);
            if (map.hasLayer(busLayer)) {
                map.removeLayer(busLayer);
            }
        }
        if (map.hasLayer(originLayer)) {
            map.removeLayer(originLayer);
        }
        if (map.hasLayer(destLayer)) {
            map.removeLayer(destLayer);
        }

		$.get("../get_route/", {route:route, direction:direction}, function(data, textStatus){
			if(routeLayer){
			 	control.removeLayer(routeLayer);
			 	if(map.hasLayer(routeLayer)){
			 		map.removeLayer(routeLayer);
			 	}
            }
			if(data){
                route_geoJson = $.parseJSON(data);
                routeLayer = L.geoJson(route_geoJson,{style:{color:'green', weight:'7', opacity:'0.7'}}).addTo(map);
                map.fitBounds(routeLayer.getBounds());
                control.addOverlay(routeLayer,'Route '+route);
			}else{
                alert('No ROUTE information found, please select another route or direction!');
            }

            $.get("../get_stops/", {route:route, direction:direction}, function(data, textStatus){
                 $('#select_origin').empty();
                 $('#select_dest').empty();
                if(stopsLayer){
                    control.removeLayer(stopsLayer);
                    if(map.hasLayer(stopsLayer)){
                        map.removeLayer(stopsLayer);
                    }
                }
                if(data){
                    stops_geoJson = $.parseJSON(data);
                    stopsLayer = L.geoJson(stops_geoJson, {
                        pointToLayer:function(feature, latlng){
                                return L.circleMarker(latlng,{
                                    radius:6,
                                    fillColor: '#9ba7ff',
                                    color: 'blue',
                                    weight: 1,
                                    opacity: 0.6,
                                    fillOpacity: 0.9
                                });
                        },
                        onEachFeature:onEachFeature
                    }).addTo(map);
                    control.addOverlay(stopsLayer,'Stops');
                    for(var i=0;i<stops_geoJson.features.length;i++){
                        $("#select_origin").append("<option value="+stops_geoJson.features[i].properties.stop_id+">"+ stops_geoJson.features[i].properties.name +"</option>");
                        $("#select_dest").append("<option value="+stops_geoJson.features[i].properties.stop_id+">"+ stops_geoJson.features[i].properties.name +"</option>");
                    }
                    $('#select_origin').selectpicker('refresh');
                    $('#select_dest').selectpicker('refresh');
                }else{
                    alert('No STOP information found. Please select another route or direction!');
                }
                ///////Spinner Stop
                    spinner.stop();
                    var target = document.getElementById('map');
                    target.style.opacity = '1';
                ///////////////////
            },"json");
		},"json");
	}

    var originLayer = L.geoJson(),
        destLayer = L.geoJson();

    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            radius: 8
        });
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        var layer = e.target;
        layer.setStyle({
            radius: 6
        });
        info.update();
    }

    function clickFeature(e) {
        var layer = e.target;
        var num = stops_geoJson.features.length;
        if (origin_flag) {
            $('option[value=' + layer.feature.properties.stop_id + ']', $('#select_dest')).prop("selected", true);
            $('#select_dest').selectpicker('refresh');
            heatmap_layerGroup.clearLayers();
            heatmap_stops_dict = {};
            if (map.hasLayer(destLayer)) {
                map.removeLayer(destLayer);
            }
            routeLayer.setStyle({
                opacity:'0.7'
            });
            for (var i = 0; i < num; i++) {
                if (stops_geoJson.features[i].properties.stop_id == layer.feature.properties.stop_id) {
                    destLayer = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" +
                            stops_geoJson.features[i].properties.name + "</strong>").addTo(map);
                    break;
                }
            }
        }
        else {
            $('option[value=' + layer.feature.properties.stop_id + ']', $('#select_origin')).prop("selected", true);
            $('#select_origin').selectpicker('refresh');
            origin_flag = true;
            heatmap_layerGroup.clearLayers();
            heatmap_stops_dict = {};
            if (map.hasLayer(originLayer)) {
                map.removeLayer(originLayer);
            }
            routeLayer.setStyle({
                opacity:'0.7'
            });
            for (var i = 0; i < num; i++) {
                if (stops_geoJson.features[i].properties.stop_id == layer.feature.properties.stop_id) {
                    originLayer = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" +
                            stops_geoJson.features[i].properties.name + "</strong>").addTo(map);
                    break;
                }
            }
        }
    }

    function onEachFeature(feature, layer){
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: clickFeature
        });
        layer.bindPopup('<b>' + feature.properties.name + '</b>');
    }

    getInfo();
	$('#select_route').change(getInfo);
	$('#inout').on('switchChange.bootstrapSwitch',getInfo);

    var origin_flag = false;
    $('#select_origin').change(function() {
        heatmap_layerGroup.clearLayers();
        heatmap_stops_dict = {};
        if (map.hasLayer(originLayer)) {
            map.removeLayer(originLayer);
        }
        if (!(map.hasLayer(stopsLayer))) {
            stopsLayer.addTo(map);
        }
        routeLayer.setStyle({
            opacity:'0.7'
        });
        origin_flag = true;
        var selected_origin = $('#select_origin option:selected').attr('value');
        var num = stops_geoJson.features.length;
        for (var i = 0; i < num; i++) {
            if (stops_geoJson.features[i].properties.stop_id == selected_origin) {
                originLayer = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" +
                        stops_geoJson.features[i].properties.name + "</strong>").addTo(map);
                break;
            }
        }
    });
    $('#select_dest').change(function() {
        heatmap_layerGroup.clearLayers();
        heatmap_stops_dict = {};
        if (map.hasLayer(destLayer)) {
            map.removeLayer(destLayer);
        }
        if (!(map.hasLayer(stopsLayer))) {
            stopsLayer.addTo(map);
        }
        routeLayer.setStyle({
            opacity:'0.7'
        });
        var selected_dest = $('#select_dest option:selected').attr('value');
        var num = stops_geoJson.features.length;
        for (var i = 0; i < num; i++) {
            if (stops_geoJson.features[i].properties.stop_id == selected_dest) {
                destLayer = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" +
                        stops_geoJson.features[i].properties.name + "</strong>").addTo(map);
                break;
            }
        }
    });

    $('#stops_deselect_all').click(function(){
        origin_flag = false;
        if (map.hasLayer(originLayer)) {
            map.removeLayer(originLayer);
        }
        if (map.hasLayer(destLayer)) {
            map.removeLayer(destLayer);
        }
        if (!(map.hasLayer(stopsLayer))) {
            stopsLayer.addTo(map);
        }
        routeLayer.setStyle({
            opacity:'0.7'
        });
        $("#select_origin option:selected").removeAttr("selected");
        $('#select_origin').selectpicker('refresh');
        $("#select_dest option:selected").removeAttr("selected");
        $('#select_dest').selectpicker('refresh');

        heatmap_layerGroup.clearLayers();
        heatmap_stops_dict = {};
    });


{#=================================================== Get Metrics Begin Here =======================================#}

    function onEachFeature2(feature, layer){
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight
        });
    }

    function get_metrics(){
        map.removeControl(legend);
        legend.onAdd = function () {
            var div = L.DomUtil.create('div', 'info legend');
            div.innerHTML += '<i style="background:green' + '"></i> ' + "&nbsp Stop skipping proportion &le; " + sliderlow + "% <br>";
            div.innerHTML += '<j style="background:yellow' +  '"></j> ' + "&nbsp Stop skipping proportion &le; "+ sliderhigh + "%<br>";
            div.innerHTML += '<k style="background:red' +  '"></k> ' + "&nbsp Stop skipping proportion > "+ sliderhigh + "%<br>";
            return div;
        };
        legend.addTo(map);

        var route = $('#select_route option:selected').attr('value');
        var direction = $('#inout').bootstrapSwitch('state');
        if (direction){direction = "1"} else {direction = "0"}

        var stop1ID = $('#select_origin option:selected').attr('value');
        var stop2ID = $('#select_dest option:selected').attr('value');
        if (stop1ID == stop2ID ){
            alert("Please select 2 different stops.");
            return;
        }

        var num = stops_geoJson.features.length;
        var flag = false;
        var stops_number = 0;
        for(var i = 0; i < num; i++){
            if ((stops_geoJson.features[i].properties.stop_id == stop1ID) || (stops_geoJson.features[i].properties.stop_id == stop2ID)){
                flag = !flag;
            }
            if (flag) {
                stops_number++;
            }
        }
        var stops_array = new Array(stops_number + 1);
        flag = false;
        stops_number = 0;
        for(var i = 0; i < num; i++){
            if ((stops_geoJson.features[i].properties.stop_id == stop1ID) || (stops_geoJson.features[i].properties.stop_id == stop2ID)){
                if (flag){
                    flag = false;
                    stops_array[stops_number] = stops_geoJson.features[i].properties.stop_id;
                    stops_number++;
                }else{
                    flag = true;
                }
            }
            if (flag) {
                stops_array[stops_number] = stops_geoJson.features[i].properties.stop_id;
                stops_number++;
            }
        }
        var selected_stops_str = stops_array.join();

        var s_date = $("#s_date").val();
        if (s_date==''){alert("Please select a Start Date!");return;}
        var e_date = $("#e_date").val();
        if (e_date==''){alert("Please select a End Date!");return;}
        if ((parseInt(s_date.slice(-4)) > parseInt(e_date.slice(-4))) || (parseInt(s_date.slice(-4)) == parseInt(e_date.slice(-4))&&(parseInt(s_date.substr(0,2)) > parseInt(e_date.substr(0,2)))) || (parseInt(s_date.slice(-4)) == parseInt(e_date.slice(-4))&&(parseInt(s_date.substr(0,2)) == parseInt(e_date.substr(0,2)))&&(parseInt(s_date.substr(3,2)) > parseInt(e_date.substr(3,2)))) ){
            alert("Start Date must be no later than End Date!\n\nPlease re-select.");
            return;
        }
        var s_time = $("#s_time").val();
        if (s_time==''){alert("Please select a Start Time!");return;}
        var e_time = $("#e_time").val();
        if (e_time==''){alert("Please select a End Time!");return;}
        var stime = parseInt(s_time.substr(-5,2)) + parseInt(s_time.slice(0,-6))*100;
        var etime = parseInt(e_time.substr(-5,2)) + parseInt(e_time.slice(0,-6))*100;
        if (s_time.slice(-2) == "PM"){stime += 1200}
        if (parseInt(s_time.slice(0,-6)) == 12){stime -= 1200}
        if (e_time.slice(-2) == "PM"){etime += 1200}
        if (parseInt(e_time.slice(0,-6)) == 12){etime -= 1200}
        if (stime >= etime){
            alert("Start Time must be earlier than End Time!\n\nPlease re-select.");
            return;
        }

        var target = document.getElementById('map');
        spinner = new Spinner(spinneropts).spin(target);
        target.style.opacity = '0.15';

        heatmap_layerGroup.clearLayers();
        heatmap_stops_dict = {};

        if (map.hasLayer(stopsLayer)) {
            map.removeLayer(stopsLayer);
        }
        routeLayer.setStyle({
            opacity:'0.25'
        });

        $.get("../transit_metrics_stopskipping/", {
            rt:route,
            dir:direction,
            s_date:s_date,
            e_date:e_date,
            s_time:stime,
            e_time:etime,
            stops:selected_stops_str
        }, function(data, textStatus){
            for (var i=0;i < stops_number - 1; i++){
                var stop_id = stops_array[i];
                var num = stops_geoJson.features.length;
                for (var j = 0; j < num; j++) {
                    if (stops_geoJson.features[j].properties.stop_id == stop_id) {
                        var rec = 0;
                        for (var j2 = 0; j2 < num; j2++) {
                            if (stops_geoJson.features[j2].properties.stop_id == stops_array[i + 1]) {
                                rec = j2;
                                break;
                            }
                        }
                        var myline = {"type": "LineString",
                            "coordinates": [stops_geoJson.features[j].geometry.coordinates,
                                            stops_geoJson.features[rec].geometry.coordinates]};
                        var myPopup = "<strong>" + stops_geoJson.features[j].properties.name
                            + "</strong><br>Total queried trips: " + data[stop_id]["totaltrip"]
                            + "<br>Total skipping (proportion): " + data[stop_id]["totalskip"] + " (" + (parseFloat(data[stop_id]["totalskip"])/parseFloat(data[stop_id]["totaltrip"])*100).toFixed(2) + "%)"
                            + "<br>Skipping with full load (Proportion): " + data[stop_id]["skipwithfullload"] + " (" + (parseFloat(data[stop_id]["skipwithfullload"])/parseFloat(data[stop_id]["totaltrip"])*100).toFixed(2) + "%)"
                            + "<br><br>Trips that skip with full load:";
                        var hasskip = false;
                        for (var key in data[stop_id]){
                            if (data[stop_id].hasOwnProperty(key)){
                                if ((key != "totaltrip")&&(key != "totalskip")&&(key != "skipwithfullload")) {
                                    hasskip = true;
                                    myPopup += "<br>" + key + ": " + data[stop_id][key] + " - ";
                                    myPopup += (parseFloat(data[stop_id][key]) / parseFloat(data[stop_id]["skipwithfullload"]) * 100).toFixed(2) + "%";
                                }
                            }
                        }
                        if (!hasskip) myPopup += "<br> None.";
                        var temp = (parseFloat(data[stop_id]["skipwithfullload"])/parseFloat(data[stop_id]["totaltrip"]))*30;
                        myPopup += "<br><br><strong>Average Excessive Waiting Time caused by Skipping with full load: "+ temp.toFixed(2) +" mins/rider</strong>";

                        heatmap_stops_dict[stop_id] = L.geoJson(myline, {
                            style: function (feature) {
                                var ref = (parseFloat(data[stop_id]["skipwithfullload"])/parseFloat(data[stop_id]["totaltrip"]))*100;
                                if (ref <= sliderlow) {
                                    return {weight: 7, color: 'green', opacity: 0.9};
                                } else if (ref <= sliderhigh) {
                                    return {weight: 7, color: 'yellow', opacity: 0.9};
                                } else {
                                    return {weight: 7, color: 'red', opacity: 0.9};
                                }
                            }
                        }).addTo(map).bindPopup(myPopup);
                        heatmap_layerGroup.addLayer(heatmap_stops_dict[stop_id]);
                        break;
                    }
                }
            }
            ///////Spinner Stop
                spinner.stop();
                var target = document.getElementById('map');
                target.style.opacity = '1';
            ///////////////////
        }, "json");
	}
{#=========================================================== End =====================================================#}


{#=================================================== Realtime Bus Begin Here =======================================#}
    function busMarkerOptions(spd)  {
        return {
            radius: 9,
            fillColor:  spd >= 30?"green":
                        spd >= 10?"yellow":
                                  "red",
            color: "white",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        }
    }

    function onEachBusFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("<strong>" + feature.properties.rt + "</strong>"
                            + "<br>Speed: " + feature.properties.spd +" mph"
                            + "<br>Destination: " + feature.properties.des);
        }
    }

    function get_bus_real_time(){
        var route = $('#select_route option:selected').attr('value');
        $.get("../bus_real_time/", {rt:route}, function(data, textStatus){
            if(busLayer){
                control.removeLayer(busLayer);
                if(map.hasLayer(busLayer)){
                    map.removeLayer(busLayer);
                }
            }
			if(data["status"] == "success"){
                 busLayer = L.geoJson(data["geoJson"], {
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, busMarkerOptions(feature.properties.spd));
                    },
                    onEachFeature:onEachBusFeature
                 }).addTo(map);
                 control.addOverlay(busLayer,"Realtime Buses");
			}
            else{
                alert(data["msg"]);
            }
		},"json");
    }
{#=========================================================== End =====================================================#}

    $("#historical").click(get_metrics);
    $("#real_time").click(get_bus_real_time);

</script>
{% endblock %}