{% extends "traffic/base.html" %}

{% load staticfiles %}

{% block title %}
Power of 32 RTIS - Transit - On-Time Performance
{% endblock %}

{% block style %}
<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css">
<link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
<link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
<link rel="stylesheet" href="{% static 'traffic/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/bootstrap-switch.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/multiselect/bootstrap-multiselect.css' %}"  type="text/css"/>
{% endblock %}


{% block content %}
<div class="well" style="height:600px;">
	<div class="container" style="width: inherit">
    	<div class="row"><h3>Transit </h3></div>
		<div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Route:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id='select_route' name = 'select_route' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
			  	    {% for route in routes%}
						<option value={{route}}>{{route}}</option>
					{% endfor %}
			    </select>
            </div>
	    </div>

    	<div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 30px;text-align: center;">
               <input type="radio" name="direction" class="direction" value='I' checked="checked" id = 'inbound'/> Inbound
           </div>
           <div class="col-md-5" style="height: 30px;text-align: left;">
               <input type="radio" name="direction" class="direction" value='O' /> Outbound <br>
           </div>
        </div>

        <div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Stops:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select multiple="multiple" id = "select_stop">
                </select>
                <button id="stops_deselect_all" class="btn btn-default">Clear All</button>
            </div>
	    </div>

        <div class="row" style="padding-top:5px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Date:</h5></div>
            <div class="col-md-3" style="padding-left:0px;padding-right: 0px;">
                <select id='syear' name = 'syear' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
					<option value='2014'>2014</option>
					<option value='2013'>2013</option>
					<option value='2012'>2012</option>
					<option value='2011'>2011</option>
					<option value='2010'>2010</option>
				</select>
            </div>
            <div class="col-md-2" style="padding-left: 0;padding-right: 1px;">
				<select id='smonth' name = 'smonth' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
					<option value='01'>Jan</option>
					<option value='02'>Feb</option>
					<option value='03'>Mar</option>
					<option value='04'>Apr</option>
					<option value='05'>May</option>
					<option value='06'>Jun</option>
					<option value='07'>Jul</option>
					<option value='08'>Aug</option>
					<option value='09'>Sep</option>
					<option value='10'>Oct</option>
					<option value='11'>Nov</option>
					<option value='12'>Dec</option>
				</select>
            </div>
            <div class="col-md-2" style="padding-left: 0;padding-right: 10px;">
				<select id='sday' name = 'sday' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
					{% for i in n%}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
            </div>
	    </div>

		<div class="row" style="padding-top:5px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Date:</h5></div>
            <div class="col-md-3" style="padding-left:0px;padding-right: 0px;">
                <select id='eyear' name = 'eyear' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
					<option value='2014'>2014</option>
					<option value='2013'>2013</option>
					<option value='2012'>2012</option>
					<option value='2011'>2011</option>
					<option value='2010'>2010</option>
				</select>
            </div>
            <div class="col-md-2" style="padding-left: 0;padding-right: 1px;">
				<select id='emonth' name = 'emonth' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
					<option value='01'>Jan</option>
					<option value='02'>Feb</option>
					<option value='03' selected="selected">Mar</option>
					<option value='04'>Apr</option>
					<option value='05'>May</option>
					<option value='06'>Jun</option>
					<option value='07'>Jul</option>
					<option value='08'>Aug</option>
					<option value='09'>Sep</option>
					<option value='10'>Oct</option>
					<option value='11'>Nov</option>
					<option value='12'>Dec</option>
				</select>
            </div>
            <div class="col-md-2" style="padding-left: 0;padding-right: 10px;">
				<select id='eday' name = 'eday' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
					{% for i in n%}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
            </div>
	    </div>
        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datetimepicker'>
                        <input id="s_time" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>

        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datetimepicker2'>
                        <input id="e_time" style="height: 36px;width: 145px;" type='text' class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>

         <div class="row" style="padding-top:5px;">
           <div class="col-md-6" style="height: 36px;padding-right: 0;">
               <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="real_time">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Real Time
                </button>
           </div>
           <div class="col-md-6" style="padding-left: 5px;">
                <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="historical">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Historical
                </button>
           </div>
        </div>
    </div>

	<br> <div style="width:100%;height:2px;margin:0 auto;padding:0;background-color:#ddd;overflow:hidden;"></div>

	<div class="container" style="width: inherit">
        <div class="row" style="padding-top: 15px">
			<h4> Result: </h4>
        </div>
        <div class="row" style="padding-top: 10px">
        	<div class="col-md-7" style="padding-right: 0;">
				Ontime Performance:
            </div>
            <div class="col-md-5" style="padding-left: 0;">
                <span id = 'ontime'>&emsp;&emsp;&emsp;</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block map %}
<div id="map"></div>
{% endblock %}
	
	

{% block script %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="{% static 'traffic/leaflet-search.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/multiselect/bootstrap-multiselect.js' %}"></script>
{#<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/dist/js/bootstrap.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'traffic/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-datetimepicker.min.js' %}"></script>

<script>
     $('.selectpicker').selectpicker({
      style: 'btn-inverse',
      size: 10
     });
</script>


<script type="text/javascript">
      $(function () {
          $('#datetimepicker').datetimepicker({
              format: 'LT'
          });
      });
      $(function () {
          $('#datetimepicker2').datetimepicker({
              format: 'LT'
          });
      });
</script>

<script>
{#	$(function(){#}
	var map = L.map('map').setView([40.300, -79.000], 8);
    
	// add an OpenStreetMap tile layer
	var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	
	control = L.control.layers({'Base Map':basemap},null,{collapsed:false}).addTo(map);
	
	map.addControl( new L.Control.Search({
			url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10
		}) );
	
	/*var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this._div.innerHTML = '<h4>Route Information</h4>'
								+ "<br> <b>Route:</b><p id = 'info_route'></p>"
								+ "<b>Direction:</b><p id = 'info_direction'></p>"
								+ "<b>Stop 1:</b><p id = 'stop1'></p>"
								+ "<b>Stop 1 Order:</b><p id = 'order1'></p>"
								+ "<b>Stop 2:</b><p id = 'stop2'></p>"
								+ "<b>Stop 2 Order:</b><p id = 'order2'></p>"
								+ "<b>Metrics:</b><p id = 'metrics'></p>";
			return this._div;
		};

		info.addTo(map);*/
	
	    var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function (props) {
			this._div.innerHTML = '<h4>Stop</h4>' +  (props ?
				'<b>' + props.name + '</b>'
				: 'Hover over a stop');
		};

		info.addTo(map);
	
	    function highlightFeature(e) {
			var layer = e.target;

			/*layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});*/

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		function resetHighlight(e) {
			info.update();
		}

        var selected_stops_dict = {};
        var selected_stops_layerGroup = L.layerGroup().addTo(map);
        control.addOverlay(selected_stops_layerGroup,"Selected Stops");
		function add_stop_to_map(stop_id,flag){
            if(flag) {
                if(selected_stops_dict[stop_id]){
                    return;
                }
                var num = stops_geoJson.features.length;
                for (var i = 0; i < num; i++) {
                    if (stops_geoJson.features[i].properties.stop_id == stop_id) {
                        selected_stops_dict[stop_id] = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" + stops_geoJson.features[i].properties.name + "</strong>");
                        selected_stops_layerGroup.addLayer(selected_stops_dict[stop_id]);
                        break;
                    }
                }
            }
            else{
                if(selected_stops_dict[stop_id]){
                    selected_stops_layerGroup.removeLayer(selected_stops_dict[stop_id]);
                    delete selected_stops_dict[stop_id];
                }
            }
        }
        function remove_all_stops_from_map(){
            selected_stops_layerGroup.clearLayers();
            elected_stops_dict = {};
        }


		function clickFeature(e) {
			var layer = e.target;
			//var weather;
			//map.fitBounds(layer.getBounds()); // zoom to the layer
{#			selected = (selected+1)%2;#}
{#			var update = '#select_stop' + (selected+1);#}
{#			$(update +' option:selected').removeAttr('selected');#}
{#            $(update +' option:selected').selectpicker('refresh');#}
{#			$(update).find("option[value='" + layer.feature.properties.stop_id +"']").attr('selected', true);#}
{#            $(update).selectpicker('refresh');#}
{#			$(update).trigger('change');#}
{#            $(update).selectpicker('refresh');#}
			//var order = '#order' + (selected+1);
			//$(update).text(layer.feature.properties.name);
			//$(order).text(layer.feature.properties.order);
			$('option[value=' + layer.feature.properties.stop_id + ']', $('#select_stop')).prop("selected", true);
            $('#select_stop').multiselect('refresh');
            add_stop_to_map(layer.feature.properties.stop_id,true);
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout:resetHighlight,
				click:clickFeature
			});
			layer.bindPopup('<b>' + feature.properties.name + '</b>');
			}
	
	
	var routeLayer = L.geoJson(),
		stopsLayer = L.geoJson(),
        busLayer   = L.geoJson();
    var stops_geoJson, route_geoJson;
	function getInfo(event){
		//var route = $("#route").val();
		$('#ontime').text('');
		$('#crowding').text('');
		$('#waiting').text('');
		$('#txtHint').text('');
		
		var route = $('#select_route option:selected').attr('value');
		var direction = $('input.direction:checked').attr('value');

        if(event.data.flag == "route") {
            if (busLayer) {
                control.removeLayer(busLayer);
                if (map.hasLayer(busLayer)) {
                    map.removeLayer(busLayer);
                }
            }
        }
        remove_all_stops_from_map()

		$.get("../get_route/", {route:route, direction:direction}, function(data, textStatus){
			
			if(routeLayer){
			 	control.removeLayer(routeLayer);
			 	if(map.hasLayer(routeLayer)){
			 		map.removeLayer(routeLayer);
			 	}
			 }
			if(data){
			 route_geoJson = $.parseJSON(data);
			 routeLayer = L.geoJson(route_geoJson,{style:{color:'green'}}).addTo(map);
			 $('#info_route').text(route);
			 $('#info_direction').text((direction == 'I'?'Inbound':'Outbound'));
			 $('#stop1').text('');
			 $('#stop2').text('');
			 $('#order1').text('');
			 $('#order2').text('');
			 $('#metrics').text('');
			 map.fitBounds(routeLayer.getBounds());
			 control.addOverlay(routeLayer,'Route '+route);
			}
		},"json");


        function multiselect_on_change(option, checked, select) {
            add_stop_to_map(option.val(),checked);
        }
		
		$.get("../get_stops/", {route:route, direction:direction}, function(data, textStatus){
			
		  $('#select_stop').empty();
		  //$('#select_stop2').empty();
		  if(stopsLayer){
			 	control.removeLayer(stopsLayer);
			 	if(map.hasLayer(stopsLayer)){
			 		map.removeLayer(stopsLayer);
			 	}
			 }
		  if(data){
			 stops_geoJson = $.parseJSON(data);
			 stopsLayer = L.geoJson(stops_geoJson, {
					pointToLayer:function(feature, latlng){
							return L.circleMarker(latlng,{radius:5,fillOpacity:0.9});
					},
					onEachFeature:onEachFeature
					}).addTo(map);
			control.addOverlay(stopsLayer,'Stops');

			for(var i=0;i<stops_geoJson.features.length;i++){
				$("#select_stop").append("<option value="+stops_geoJson.features[i].properties.stop_id+">"+ stops_geoJson.features[i].properties.name +"</option>");
{#                $("#select_stop1").selectpicker('refresh');#}
{#				$("#select_stop2").append("<option value="+stops_geoJson.features[i].properties.stop_id+">"+ stops_geoJson.features[i].properties.name +"</option>");#}
{#                $("#select_stop2").selectpicker('refresh');#}
			}
            //Initialize multiselect
            if ( $('#stops_multiselect').length == 0) {
                $('#select_stop').multiselect({
                    buttonContainer: '<div class="btn-group" id = "stops_multiselect"/>',
                    disableIfEmpty: true,
                    maxHeight: 200,
                    buttonWidth: '195px',
                    nonSelectedText: 'Select Stops ...',
                    numberDisplayed: 1,
                    enableCaseInsensitiveFiltering: true,
                    checkboxName: 'stop',
                    onChange: multiselect_on_change
                    //includeSelectAllOption: true,
                    //selectAllValue: 'select-all-value'
                });
            }
            else{
                $('#select_stop').multiselect("rebuild");
            }
		  }
		  else{
		  	$('#txtHint').text('Route ' + route + '-' + (direction == 'I'?'Inbound':'Outbound') + ' not found');
		  }
		},"json");
	}

    $('#stops_deselect_all').on('click', function() {
        var selected_stops = $('#stops_multiselect ul li.active [name= "stop"]');
        var stops_number = selected_stops.length;
        var stops_array = new Array(stops_number);
        for(var i = 0; i < stops_number; i++){
            add_stop_to_map(selected_stops[i].value, false);
        }
        $('#select_stop').multiselect('deselectAll', false);
        $('#select_stop').multiselect('updateButtonText');
    });


	$('#select_route').change({flag:"route"},getInfo);
	$('.direction').click({flag:"direction"},getInfo);
{#	function get_metrics(){#}
{#		//generate some random metrics for now#}
{#		var h = 1;#}
{#		if (parseInt($('#hour option:selected').attr('value')) < Math.floor($('#select_stop1 option:selected').attr('value').charCodeAt(0)/10) || parseInt($('#hour option:selected').attr('value')) > 17 + Math.floor($('#select_stop1 option:selected').attr('value').charCodeAt(0)/15)){#}
{#			h = 0;#}
{#		}#}
{#		var seed = ($('#select_stop1 option:selected').attr('value').charCodeAt(2) + $('#select_stop2 option:selected').attr('value').charCodeAt(2)- 85 + Math.abs(parseInt($('#minute option:selected').attr('value'))-30) + Math.abs(parseInt($('#hour option:selected').attr('value'))-15)*h)/75;#}
{#		var ontime_performance = (''+ ((seed) * 20 + 50)*h).substr(0,5) + '%',#}
{#		    crowding = (''+ seed * 1.5*h).substr(0,4),#}
{#		    waiting_time = (''+ (1-seed) * 25 * h).substr(0,4) + ' minutes';#}
{#		$('#ontime').text(ontime_performance);#}
{#		$('#crowding').text(crowding);#}
{#		$('#waiting').text(waiting_time);#}
{#		 #}
{#	}#}
    function get_metrics(){
		//generate some random metrics for now
		var selected_stops = $('#stops_multiselect ul li.active [name= "stop"]');
        var stops_number = selected_stops.length;
        if (stops_number == 0 ){
            alert("Please select at least 1 stop.");
            return;
        }

        var stops_array = new Array(stops_number);
        for(var i = 0; i < stops_number; i++){
            stops_array[i] = selected_stops[i].value;
        }
        var selected_stops_str = stops_array.join();

        var s_datetime = $("#syear option:selected").val() + "-" + $("#smonth option:selected").val() + "-" + ($("#sday option:selected").val().length == 1 ? "0"+ $("#sday option:selected").val() : $("#sday option:selected").val()) + " " + $("#s_time").val();
        var e_datetime = $("#eyear option:selected").val() + "-" + $("#emonth option:selected").val() + "-" + ($("#eday option:selected").val().length == 1 ? "0"+ $("#eday option:selected").val() : $("#eday option:selected").val()) + " " + $("#e_time").val();
{#        alert(s_date+"<br>"+e_date+"<br>"+selected_stops_str);#}
        $.get("../transit_metrics/", {s_datetime:s_datetime, e_datetime:e_datetime, stops: selected_stops_str}, function(data, textStatus){
            $('#ontime').text(data["s_datetime"]);
            $('#crowding').text(data["e_datetime"]);
		    $('#waiting').text(data["num"]);
        });
	}

    function busMarkerOptions(spd)  {
        return {
            radius: 9,
            fillColor:  spd >= 30?"green":
                        spd >= 10?"yellow":
                                  "red",
            color: "white",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        }
    }

    function onEachBusFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("<strong>" + feature.properties.rt + "</strong>"
                            + "<br>Speed: " + feature.properties.spd +" mph"
                            + "<br>Destination: " + feature.properties.des);
        }
    }

    function get_bus_real_time(){
        var route = $('#select_route option:selected').attr('value');
        $.get("../bus_real_time/", {rt:route}, function(data, textStatus){

            if(busLayer){
                control.removeLayer(busLayer);
                if(map.hasLayer(busLayer)){
                    map.removeLayer(busLayer);
                }
            }
			if(data["status"] == "success"){
                 busLayer = L.geoJson(data["geoJson"], {
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, busMarkerOptions(feature.properties.spd));
                    },
                    onEachFeature:onEachBusFeature

                 }).addTo(map);
                 control.addOverlay(busLayer,route);
			}
            else{
                alert(data["msg"]);
            }
		},"json");

    }
    $("#historical").click(get_metrics);
    $("#real_time").click(get_bus_real_time);
{#	$('#minute').change(get_metrics);#}
{#	$('#hour').change(get_metrics);#}
{#	$('#select_stop1').change(get_metrics);#}
{#	$('#select_stop2').change(get_metrics);#}
	$('#inbound').trigger('click');
{#	});#}
</script>
{% endblock %}