{% extends "traffic/base.html" %}

{% load staticfiles %}

{% block title %}
Power of 32 RTIS - Transit - On-Time Performance
{% endblock %}

{% block style %}
<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css">
<link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
<link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
<link rel="stylesheet" href="{% static 'traffic/bootstrap-switch.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}


{% block content %}
<div class="well" style="height:600px;">
	<div class="container" style="width: inherit">
    	<div class="row"><h4>On-Time Performance </h4></div>
		<div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Route:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id='select_route' name = 'select_route' class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
			  	    {% for route in routes%}
						<option value={{route}}>{{route}}</option>
					{% endfor %}
			    </select>
            </div>
	    </div>

        <div class="row" style="padding-top:5px;padding-bottom: 5px;">
            <div class="col-md-12" style="text-align: right;">
               <input type="checkbox" id="inout" name="inout" checked>
            </div>
        </div>

        <div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Stops:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                <select id = "select_stop" class="selectpicker show-tick show-menu-arrow" multiple data-selected-text-format="count" data-live-search="true" data-width="100%">
                </select>
            </div>
	    </div>

        <button id="stops_deselect_all" class="btn btn-default btn-block" style="margin-top: 10px">
            <span class="glyphicon glyphicon-remove"> </span> &nbsp; Clear All
        </button><br>

        <div class="row" style="padding-top:5px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Date:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datepicker'>
                        <input id="s_date" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
	    </div>

		<div class="row" style="padding-top:5px;">
        	<div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Date:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datepicker2'>
                        <input id="e_date" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
	    </div>

        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='timepicker'>
                        <input id="s_time" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>

        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='timepicker2'>
                        <input id="e_time" style="height: 36px;width: 145px;" type='text' class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>

         <div class="row" style="padding-top:5px;">
           <div class="col-md-6" style="height: 36px;padding-right: 0;">
               <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="real_time">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Real Time
                </button>
           </div>
           <div class="col-md-6" style="padding-left: 5px;">
                <button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="historical">
                    <span class="glyphicon glyphicon-search"> </span> &nbsp; Historical
                </button>
           </div>
        </div>
    </div>
</div>
{% endblock %}


{% block map %}
<div id="map"></div>
{% endblock %}
	
	

{% block script %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="{% static 'traffic/leaflet-search.min.js' %}"></script>

<script type="text/javascript" src="{% static 'traffic/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/spinner.js' %}"></script>

<script>
     $('.selectpicker').selectpicker({
      style: 'btn-inverse',
      size: 10
     });
</script>

<script type="text/javascript">
    var options = {
        onColor: 'info',
        offColor: 'warning',
        onText: 'Inbound',
        offText: 'Outbound',
        labelWidth: 30,
        handleWidth: 101
    };
    $("[name='inout']").bootstrapSwitch(options);
</script>

<script type="text/javascript">
    $(function () {
        $('#datepicker').datetimepicker({
            viewMode: 'years',
            format: 'MM/DD/YYYY'
        });
    });
    $(function () {
        $('#datepicker2').datetimepicker({
            viewMode: 'years',
            format: 'MM/DD/YYYY'
        });
    });
    $(function () {
        $('#timepicker').datetimepicker({
            format: 'LT'
        });
    });
    $(function () {
        $('#timepicker2').datetimepicker({
            format: 'LT'
        });
    });
</script>

<script>
        var map = L.map('map').setView([40.300, -79.000], 8);

        // add an OpenStreetMap tile layer
        var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
	
	    control = L.control.layers({'Base Map':basemap},null,{collapsed:false}).addTo(map);
	
	    map.addControl( new L.Control.Search({
			url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10
		}) );
	
	    var info = L.control();
		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};
		info.update = function (props) {
			this._div.innerHTML = '<h4>Stop</h4>' +  (props ?
				'<b>' + props.name + '</b>'
				: 'Hover over a stop');
		};
		info.addTo(map);
	    function highlightFeature(e) {
			var layer = e.target;
			/*layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});*/
			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
			info.update(layer.feature.properties);
		}
		function resetHighlight(e) {
			info.update();
		}


{#======================================= Spinner ===========================================#}
        var spinneropts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '60%', // Top position relative to parent
            left: '63%' // Left position relative to parent
        };
{#        var target2 = document.getElementById('map');#}
{#        spinner = new Spinner(spinneropts).spin(target2);#}
{#        target2.style.zIndex = "110";#}
{#        target2.style.opacity = '0.2';#}


        var selected_stops_dict = {};
        var selected_stops_layerGroup = L.layerGroup().addTo(map);
        control.addOverlay(selected_stops_layerGroup,"Selected Stops");
		function add_stop_to_map(stop_id,flag){
            if(flag) {
                if(selected_stops_dict[stop_id]){
                    return;
                }
                var num = stops_geoJson.features.length;
                for (var i = 0; i < num; i++) {
                    if (stops_geoJson.features[i].properties.stop_id == stop_id) {
                        selected_stops_dict[stop_id] = L.geoJson(stops_geoJson.features[i]).bindPopup("<strong>" + stops_geoJson.features[i].properties.name + "</strong>");
                        selected_stops_layerGroup.addLayer(selected_stops_dict[stop_id]);
                        break;
                    }
                }
            }
            else{
                if(selected_stops_dict[stop_id]){
                    selected_stops_layerGroup.removeLayer(selected_stops_dict[stop_id]);
                    delete selected_stops_dict[stop_id];
                }
            }
        }
        function remove_all_stops_from_map(){
            selected_stops_layerGroup.clearLayers();
            selected_stops_dict = {};
        }


		function clickFeature(e) {
			var layer = e.target;
			$('option[value=' + layer.feature.properties.stop_id + ']', $('#select_stop')).prop("selected", true);
            $('#select_stop').selectpicker('refresh');
            add_stop_to_map(layer.feature.properties.stop_id,true);
		}

		function onEachFeature(feature, layer){
			layer.on({
				mouseover: highlightFeature,
				mouseout:resetHighlight,
				click:clickFeature
			});
			layer.bindPopup('<b>' + feature.properties.name + '</b>');
        }
	
	
	var routeLayer = L.geoJson(),
		stopsLayer = L.geoJson(),
        busLayer   = L.geoJson();
    var stops_geoJson, route_geoJson;
	function getInfo(event){
		var route = $('#select_route option:selected').attr('value');
        var direction = $('#inout').bootstrapSwitch('state');
        if (direction){direction = 'I'} else {direction = 'O'}

        if(event.data.flag == "route") {
            if (busLayer) {
                control.removeLayer(busLayer);
                if (map.hasLayer(busLayer)) {
                    map.removeLayer(busLayer);
                }
            }
        }
        remove_all_stops_from_map();

		$.get("../get_route/", {route:route, direction:direction}, function(data, textStatus){
			if(routeLayer){
			 	control.removeLayer(routeLayer);
			 	if(map.hasLayer(routeLayer)){
			 		map.removeLayer(routeLayer);
			 	}
			 }
			if(data){
			 route_geoJson = $.parseJSON(data);
			 routeLayer = L.geoJson(route_geoJson,{style:{color:'green'}}).addTo(map);
			 map.fitBounds(routeLayer.getBounds());
			 control.addOverlay(routeLayer,'Route '+route);
			}
		},"json");


        function multiselect_on_change(option, checked, select) {
            add_stop_to_map(option.val(),checked);
        }
		
		$.get("../get_stops/", {route:route, direction:direction}, function(data, textStatus){
		    $('#select_stop').empty();
		    if(stopsLayer){
			 	control.removeLayer(stopsLayer);
			 	if(map.hasLayer(stopsLayer)){
			 		map.removeLayer(stopsLayer);
			 	}
            }
		    if(data){
			    stops_geoJson = $.parseJSON(data);
			    stopsLayer = L.geoJson(stops_geoJson, {
					pointToLayer:function(feature, latlng){
							return L.circleMarker(latlng,{radius:5,fillOpacity:0.9});
					},
					onEachFeature:onEachFeature
                }).addTo(map);
			    control.addOverlay(stopsLayer,'Stops');
			    for(var i=0;i<stops_geoJson.features.length;i++){
				    $("#select_stop").append("<option value="+stops_geoJson.features[i].properties.stop_id+">"+ stops_geoJson.features[i].properties.name +"</option>");
                    $('#select_stop').selectpicker('refresh');
			    }
		    }else{
                $('#txtHint').text('Route ' + route + '-' + (direction == 'I'?'Inbound':'Outbound') + ' not found');
		    }
		},"json");
	}

	$('#select_route').change({flag:"route"},getInfo);
	$('#inout').on('switchChange.bootstrapSwitch',{flag:"direction"},getInfo);

    $('#stops_deselect_all').click(function(){
        var selected_stops = $('#select_stop option:selected').attr('value');
        var stops_number = selected_stops.length;
        for(var i = 0; i < stops_number; i++){
            add_stop_to_map(selected_stops[i].value, false);
        }
        $('#select_stop').selectpicker('deselectAll');
    });

{#=================================================== Get Metrics Begin Here =======================================#}
    function get_metrics(){
		//generate some random metrics for now
		var selected_stops = $('#stops_multiselect ul li.active [name= "stop"]');
        var stops_number = selected_stops.length;
        if (stops_number == 0 ){
            alert("Please select at least 1 stop.");
            return;
        }

        var stops_array = new Array(stops_number);
        for(var i = 0; i < stops_number; i++){
            stops_array[i] = selected_stops[i].value;
        }
        var selected_stops_str = stops_array.join();

        var s_datetime = $("#syear option:selected").val() + "-" + $("#smonth option:selected").val() + "-" + ($("#sday option:selected").val().length == 1 ? "0"+ $("#sday option:selected").val() : $("#sday option:selected").val()) + " " + $("#s_time").val();
        var e_datetime = $("#eyear option:selected").val() + "-" + $("#emonth option:selected").val() + "-" + ($("#eday option:selected").val().length == 1 ? "0"+ $("#eday option:selected").val() : $("#eday option:selected").val()) + " " + $("#e_time").val();
{#        alert(s_date+"<br>"+e_date+"<br>"+selected_stops_str);#}
        $.get("../transit_metrics/", {s_datetime:s_datetime, e_datetime:e_datetime, stops: selected_stops_str}, function(data, textStatus){
            $('#ontime').text(data["s_datetime"]);
            $('#crowding').text(data["e_datetime"]);
		    $('#waiting').text(data["num"]);
        });
	}

    function busMarkerOptions(spd)  {
        return {
            radius: 9,
            fillColor:  spd >= 30?"green":
                        spd >= 10?"yellow":
                                  "red",
            color: "white",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        }
    }

    function onEachBusFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("<strong>" + feature.properties.rt + "</strong>"
                            + "<br>Speed: " + feature.properties.spd +" mph"
                            + "<br>Destination: " + feature.properties.des);
        }
    }

    function get_bus_real_time(){
        var route = $('#select_route option:selected').attr('value');
        $.get("../bus_real_time/", {rt:route}, function(data, textStatus){
            if(busLayer){
                control.removeLayer(busLayer);
                if(map.hasLayer(busLayer)){
                    map.removeLayer(busLayer);
                }
            }
			if(data["status"] == "success"){
                 busLayer = L.geoJson(data["geoJson"], {
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, busMarkerOptions(feature.properties.spd));
                    },
                    onEachFeature:onEachBusFeature

                 }).addTo(map);
                 control.addOverlay(busLayer,route);
			}
            else{
                alert(data["msg"]);
            }
		},"json");
    }

    $("#historical").click(get_metrics);
    $("#real_time").click(get_bus_real_time);
	$('#inbound').trigger('click');

</script>
{% endblock %}