{% extends "traffic/base.html" %}

{% load staticfiles %}

{% block title %}
MDAP - Travel Time: Corridors (2013-2015)
{% endblock %}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'traffic/bootstrap_patch.css'%}">

<link rel="stylesheet" href="{% static 'traffic/leaflet-search.css' %}">
<link rel="stylesheet" href="{% static 'traffic/jquery.jqplot.min.css' %}">
<link rel="stylesheet" href="{% static 'traffic/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'traffic/bootstrap-switch.min.css' %}" />
{% endblock %}


{% block content %}

<div class="well" id="inputframe" style="overflow:auto;height:100%;">
	<div class="container" style="width: inherit">
        <div class="row"><h3 style="margin-top: 0;">Travel Time </h3></div>
        <div class="row"><h4> Corridors (2013-2015): </h4></div>
	    <div class="row" style="padding-top:5px;">
		   <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Corridor:</h5></div>
		   <div class="col-md-8" style="padding-left: 0;">
               <select id="cor" name="cor"  class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">
				    {% for corridor in corridors%}
					    <option value={{corridor.Corridor_Number}}>Corridor {{corridor.Corridor_Number}} - {{corridor.Corridor_Name}}</option>
			 	    {% endfor %}
		 	   </select>
           </div>
	    </div>
	    <div class="row" style="padding-top:5px;">
            <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Node:</h5></div>
            <div class="col-md-8" style="padding-left: 0;">
               <select id="SNode" name="SNode" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">    </select>
            </div>
        </div>
        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Node:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
               <select id="ENode" name="ENode" class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-width="100%">    </select>
           </div>
        </div>
    	<div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>Start Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datetimepicker'>
                        <input id="Stime" type='text' style="height: 36px;width: 145px;" class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>
        <div class="row" style="padding-top:5px;">
           <div class="col-md-4" style="height: 36px;padding-right: 0;"><h5>End Time:</h5></div>
           <div class="col-md-8" style="padding-left: 0;">
                    <div class='input-group date' id='datetimepicker2'>
                        <input id="Etime" style="height: 36px;width: 145px;" type='text' class="form-control" />
                        <span class="input-group-addon" style="height: 36px;width: 36px;padding: 0;"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
           </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-12" style="padding-right: 0;">
                    <input type="checkbox" id="checkboxTravelTime" name="checkboxTravelTime" checked>
            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-6" style="padding-right: 0;">
                <input type="checkbox" id="checkboxDelay" name="checkboxDelay" checked>
            </div>
            <div class="col-md-6" style="padding-left: 0;">
                <input type="checkbox" id="checkboxTTI" name="checkboxTTI" checked>
            </div>
        </div>
    </div>

	<button type="button" style="margin-top:10px;" class="btn btn-default btn-block" id="spcshow">
        <span class="glyphicon glyphicon-search"> </span> &nbsp; Update
    </button> <br>

	<div style="width:100%;height:2px;margin:0 auto;padding:0;background-color:#ddd;overflow:hidden;"></div>

	<div class="container" style="width: inherit">
    	<div class="row"><h4> Results: </h4></div>
    	<div class="row" style="margin-top: 5px;">
           <div class="col-md-7" style="height: auto;padding-right: 0;">
               Average Travel Time:
           </div>
           <div class="col-md-5" style="height: auto;padding-left: 0;">
               <span id = 'spctravel_time_car'>&emsp;&emsp;&emsp;</span>
           </div>
        </div>
    	<div class="row" style="margin-top: 10px;">
           <div class="col-md-7" style="height: auto;padding-right: 0;">
               Delay per Vehicle:
           </div>
           <div class="col-md-5" style="height: auto;padding-left: 0;">
               <span id = 'spctravel_delay'>&emsp;&emsp;&emsp;</span>
           </div>
        </div>
        <div class="row" style="margin-top: 10px;">
           <div class="col-md-7" style="height: auto;padding-right: 0;">
               Travel Time Index (TTI):
           </div>
           <div class="col-md-5" style="height: auto;padding-left: 0;">
               <span id = 'spctravel_TTI'>&emsp;&emsp;&emsp;</span>
           </div>
        </div>
    </div>

</div>
{% endblock %}

{% block map %}
	<div id="map"></div>

    <div id="chartcontainer">
     	<div id="chartTraveltime" style="height:auto;width:97%;margin-left: 20px;margin-right: 20px;margin-top: 20px; "></div>
        <div id="chartDelay" style="height:auto;width:97%;margin-left: 20px;margin-right: 20px;margin-top: 20px; "></div>
        <div id="chartTTI" style="height:auto;width:97%;margin-left: 20px;margin-right: 20px;margin-top: 20px; "></div>
	</div>
{% endblock %}
	
	

{% block script %}
<script type="text/javascript" src="{% static 'traffic/leaflet-search.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/TMC_geojson.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/jquery.jqplot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/jqplot.dateAxisRenderer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/jqplot.pointLabels.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/jqplot/plugins/jqplot.highlighter.min.js' %}"></script>

<script type="text/javascript" src="{% static 'traffic/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-3.3.2/js/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'traffic/bootstrap-switch.min.js' %}"></script>


<script type="text/javascript">
    var options = {
        onColor: 'info',
        offColor: 'warning',
        labelText: 'TTI',
        labelWidth: 45
    };
    $("[name='checkboxTTI']").bootstrapSwitch(options);
    options.labelText = 'Delay';
    $("[name='checkboxDelay']").bootstrapSwitch(options);
    options.labelText = 'Travel Time';
    options.labelWidth = 80;
    $("[name='checkboxTravelTime']").bootstrapSwitch(options);
</script>

<script type="text/javascript">
      $(function () {
          $('#datetimepicker').datetimepicker({
              format: 'LT'
          });
      });
      $(function () {
          $('#datetimepicker2').datetimepicker({
              format: 'LT'
          });
      });
</script>

<script>
     $('.selectpicker').selectpicker({
      style: 'btn-inverse',
      size: 10
     });
</script>

<script>
	$(function(){
	var map = L.map('map').setView([40.4407937, -80.0029874], 10);
    var nodelayer, Snodelayer, Enodelayer;
    var nodes;
    
	// add an OpenStreetMap tile layer
	var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	
	control = L.control.layers({'Base Map':basemap},null,{collapsed:false}).addTo(map);
	
	map.addControl( new L.Control.Search({
			url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10
		}) );

{#======================================================================================================================#}
                                            {#  NODE-BASED DATA: BY PXD #}

    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "blue",
        color: "blue",
        weight: 5,
        opacity: 0.3,
        fillOpacity: 0.5
    };

    function corchange(cornum){
        $('#SNode').empty();
        $('#ENode').empty();
        $('#spctravel_time_car').text('');
		$('#spctravel_delay').text('');
		$('#spctravel_TTI').text('');
        $("#chartTraveltime").empty();
        $("#chartDelay").empty();
        $("#chartTTI").empty();
        if(nodelayer){
					control.removeLayer(nodelayer);
					if(map.hasLayer(nodelayer)){
						map.removeLayer(nodelayer);
					}
				}
        if(Snodelayer){
					control.removeLayer(Snodelayer);
					if(map.hasLayer(Snodelayer)){
						map.removeLayer(Snodelayer);
					}
				}
        if(Enodelayer){
					control.removeLayer(Enodelayer);
					if(map.hasLayer(Enodelayer)){
						map.removeLayer(Enodelayer);
					}
				}
        $.get('../get_node_info_2013to2015/', {cornum:cornum}, function(data, textStatus){
            nodes = $.parseJSON(data);
            $('#SNode').append("<option selected='selected'></option>");
            $('#ENode').append("<option selected='selected'></option>");
            for (var i=0;i<nodes.features.length;i++){
                $('#SNode').append("<option value="+nodes.features[i].properties.Node_Number + ">" + nodes.features[i].properties.Node_Number + " - " + nodes.features[i].properties.Node_Name + "</option>");
                $('#ENode').append("<option value="+nodes.features[i].properties.Node_Number + ">" + nodes.features[i].properties.Node_Number + " - " + nodes.features[i].properties.Node_Name + "</option>");
            }
            $('#SNode').selectpicker('refresh');
            $('#ENode').selectpicker('refresh');

			nodelayer = L.geoJson(nodes,{
                 pointToLayer: function (feature, latlng) {
            		return L.circleMarker(latlng, geojsonMarkerOptions);
        		 },
        		 onEachFeature:function(feature,layer){
{#						layer.on(#}
{#							{#}
{#								mouseover:highlightFeature,#}
{#								mouseout:resetHighlight,#}
{#								click: function(){#}
{#										$('#select_tmc2 option:selected').removeAttr('selected');#}
{#										$('#select_tmc2').find("option[value='" + layer.feature.properties.TMC +"']").attr('selected', true);#}
{#										}#}
{#							});#}
						layer.bindPopup("Corridor : " + feature.properties.Corridor_Number + " - " + feature.properties.Corridor_Name +
									"<br>Node : " + feature.properties.Node_Number+ " - " + feature.properties.Node_Name + "<br>Latitude : "
                        			+ feature.geometry.coordinates[1] + "<br>Longitude : " + feature.geometry.coordinates[0]);
						}
            }).addTo(map);
			control.addOverlay(nodelayer, "Corridor " + String(cornum));
            map.fitBounds(nodelayer.getBounds());
        }, 'json');
    }

    cornum0 = $('#cor option:selected').attr('value');
    corchange(cornum0);
    $('#cor').change(function(){
        cornum0 = $('#cor option:selected').attr('value');
        corchange(cornum0);
    });

    var geojsonMarkerOptionsSnode = {
        radius: 11,
        fillColor: "green",
        color: "green",
        weight: 5,
        opacity: 0.3,
        fillOpacity: 0.8
    };

    function snodechange(Snodenum){
        if(Snodelayer){
					control.removeLayer(Snodelayer);
					if(map.hasLayer(Snodelayer)){
						map.removeLayer(Snodelayer);
					}
        }
        $('#spctravel_time_car').text('');
		$('#spctravel_delay').text('');
		$('#spctravel_TTI').text('');
        $("#chartTraveltime").empty();
        $("#chartDelay").empty();
        $("#chartTTI").empty();
        for (var i=0;i<nodes.features.length;i++){
            if (nodes.features[i].properties.Node_Number == Snodenum){
                resultSnode = nodes.features[i];
                break;
            }
        }
        Snodelayer = L.geoJson(resultSnode,{
                 pointToLayer: function (feature, latlng) {
            		return L.circleMarker(latlng, geojsonMarkerOptionsSnode);
        		 },
        		 onEachFeature:function(feature,layer){
						layer.bindPopup("Corridor : " + feature.properties.Corridor_Number + " - " + feature.properties.Corridor_Name +
									"<br>Node : " + feature.properties.Node_Number+ " - " + feature.properties.Node_Name + "<br>Latitude : "
                        			+ feature.geometry.coordinates[1] + "<br>Longitude : " + feature.geometry.coordinates[0]);
						}
        }).addTo(map);
        map.setView([resultSnode.geometry.coordinates[1], resultSnode.geometry.coordinates[0]], 15);
        control.addOverlay(Snodelayer, "Start Node: " + Snodenum);
    }

    Snodenum0 = $('#SNode option:selected').attr('value');
    $('#SNode').change(function(){
		Snodenum0 = $('#SNode option:selected').attr('value');
    	snodechange(Snodenum0);
    });

    var geojsonMarkerOptionsEnode = {
        radius: 11,
        fillColor: "red",
        color: "red",
        weight: 5,
        opacity: 0.3,
        fillOpacity: 0.8
    };

    function enodechange(Enodenum){
        if(Enodelayer){
					control.removeLayer(Enodelayer);
					if(map.hasLayer(Enodelayer)){
						map.removeLayer(Enodelayer);
					}
				}
        $('#spctravel_time_car').text('');
		$('#spctravel_delay').text('');
		$('#spctravel_TTI').text('');
        $("#chartTraveltime").empty();
        $("#chartDelay").empty();
        $("#chartTTI").empty();
        for (var i=0;i<nodes.features.length;i++){
            if (nodes.features[i].properties.Node_Number == Enodenum){
                resultEnode = nodes.features[i];
                break;
            }
        }
        Enodelayer = L.geoJson(resultEnode,{
                 pointToLayer: function (feature, latlng) {
            		return L.circleMarker(latlng, geojsonMarkerOptionsEnode);
        		 },
        		 onEachFeature:function(feature,layer){
						layer.bindPopup("Corridor : " + feature.properties.Corridor_Number + " - " + feature.properties.Corridor_Name +
									"<br>Node : " + feature.properties.Node_Number+ " - " + feature.properties.Node_Name + "<br>Latitude : "
                        			+ feature.geometry.coordinates[1] + "<br>Longitude : " + feature.geometry.coordinates[0]);
						}
        }).addTo(map);
        map.setView([resultEnode.geometry.coordinates[1], resultEnode.geometry.coordinates[0]], 15);
        control.addOverlay(Enodelayer, "End Node: " + Enodenum);
    }

    Enodenum0 = $('#ENode option:selected').attr('value');
    $('#ENode').change(function(){
        Enodenum0 = $('#ENode option:selected').attr('value');
    	enodechange(Enodenum0);
    });


    function plotindex(label,chartlabel,all,allindex,snode,enode,cor){

			var n = all.length;
			var line = [];
            var min = 99999, max = -99999;
			for(var i=0;i<n;i++){
                var hour = parseInt(allindex[i]/4);
                var minute = parseInt((allindex[i]%4)*15);
                if(minute==0){
                    minute = "00";
                }
				var point = [""+hour+":"+minute,all[i]];
				line.push(point);
                if (all[i] > max){ max = all[i]}
                if (all[i] < min){ min = all[i]}
			}
            max = max+0.5*(max-min);
            min = min-0.5*(max-min);
			var plot = $.jqplot(chartlabel, [line], {
    			title: label + ' betweeen Nodes ' + snode + ' and ' + enode + ' on Corridor ' + cor + ' in a Typical Weekday between Year 2013-2015',
                animate: !$.jqplot.use_excanvas,
                seriesDefaults: {
                    pointLabels: { show:false, formatString: "%#.2f" }
                },
    			axes:{
    					xaxis:{label:'Time of the day', renderer:$.jqplot.DateAxisRenderer, tickOptions:{formatString:'%#H:%M'}, min:"0:00", max:"24:00"},
    					yaxis:{min:min, max:max, tickOptions:'%#.4f',label:jqYaxisLabel[label.split(' ')[2]]}
    				},
    			//series:[{lineWidth:4, markerOptions:{style:'circle',size:6}}]
    			series:[
                    {color:jqplotColors[label.split(' ')[2]],label:label,showLine:false }
                ],
                legend: {
                    show: true,
                    location: 'se',     // compass direction, nw, n, ne, e, se, s, sw, w.
                    xoffset: 12,        // pixel offset of the legend box from the x (or x2) axis.
                    yoffset: 12        // pixel offset of the legend box from the y (or y2) axis.
                },
                highlighter: {
                    show: true,
                    sizeAdjust: 7.5
                }
  			});
    }

    function getrange(time){
        temp = time.split(' ')[0];
        h = parseInt(temp.split(':')[0]);
        if (h == 12){h -= 12}
        m = parseInt(temp.split(':')[1]);
        ans = h * 4;
        if ((m > 7.5) && (m < 22.5)){ans += 1}
        else if ((m > 22.5) && (m < 37.5)){ans += 2}
        else if ((m > 37.5) && (m < 52.5)){ans += 3}
        else if ((m > 52.5) && (m < 60)){ans += 4}
        if (time.split(' ')[1] == 'PM'){ans += 48}

        return ans
    }

    var jqplotColors = {
        Time: '#55A9D3',
        Delay: '#f1c40f',
        Index: '#5FAB78'
    };
    var jqYaxisLabel = {
        Time: 'Travel Time\n(min)',
        Delay: 'Delay Time\n(min)',
        Index: 'Value'
    };

    $('#spcshow').click(function(){
        $("#chartTraveltime").empty();
        $("#chartTraveltime").height(0);
        $("#chartDelay").empty();
        $("#chartDelay").height(0);
        $("#chartTTI").empty();
        $("#chartTTI").height(0);
        Stime = $('#Stime').val();
        Etime = $('#Etime').val();
        traveltimeflag = $('#checkboxTravelTime').bootstrapSwitch('state');
        delayflag = $('#checkboxDelay').bootstrapSwitch('state');
        TTIflag = $('#checkboxTTI').bootstrapSwitch('state');
        $.get('../get_spc_traveltime_2013to2015/', {cornum:cornum0,Snode:Snodenum0,Enode:Enodenum0}, function(data, textStatus){
			SpcOutput = $.parseJSON(data);
            finaltraveltime = 0;
            finaldelay = 0;
            counttraveltime = 0;
            countdelay = 0;
            tmin = getrange(Stime);
            tmax = getrange(Etime) + 1;
            if (tmin < tmax) {
                for (var i = tmin; i < tmax; i++) {
                    if (SpcOutput[i].spctraveltime != "NULL") {
                        finaltraveltime += parseFloat(SpcOutput[i].spctraveltime);
                        counttraveltime += 1
                    }
                    if (SpcOutput[i].spcdelay != "NULL") {
                        finaldelay += parseFloat(SpcOutput[i].spcdelay);
                        countdelay += 1
                    }
                }
                if (finaltraveltime == 0) {
                    $('#spctravel_time_car').text("Data N/A");
                }
                else {
                    finaltraveltime /= counttraveltime;
                    $('#spctravel_time_car').text(String(finaltraveltime).substring(0, 4) + " Minutes");
                }
                if (finaldelay == 0) {
                    $('#spctravel_delay').text("Data N/A");
                }
                else {
                    finaldelay /= countdelay;
                    $('#spctravel_delay').text(String(finaldelay).substring(0, 4) + " Minutes");
                }
                if ((finaltraveltime == 0)||(finaldelay == 0)){
                    $('#spctravel_TTI').text("Data N/A");
                }
                else{
                    finalTTI = finaltraveltime/(finaltraveltime-finaldelay);
                    $('#spctravel_TTI').text(String(finalTTI).substring(0, 4));
                }
            } else {alert('Start Time must be ealier than End Time!\n\nPlease select another time period.')}

            //jqplot preparation:
            var alltraveltime = [], alldelay=[], allindex = [], allTTI = [];
            for (var i=0;i<SpcOutput.length;i++) {
                if (SpcOutput[i].spctraveltime != "NULL" && SpcOutput[i].spcdelay != "NULL"){
                    ftime = parseFloat(SpcOutput[i].spctraveltime);
                    fdelay = parseFloat(SpcOutput[i].spcdelay);
                    alltraveltime.push(ftime);
                    alldelay.push(fdelay);
                    allindex.push(i);
                    allTTI.push(ftime/(ftime-fdelay));
                }
            }
            if (traveltimeflag){plotindex('Average Travel Time','chartTraveltime',alltraveltime,allindex,Snodenum0,Enodenum0,cornum0);}
            if (delayflag){plotindex('Average Vehicle Delay','chartDelay',alldelay,allindex,Snodenum0,Enodenum0,cornum0);}
            if (TTIflag){plotindex('Travel Time Index','chartTTI',allTTI,allindex,Snodenum0,Enodenum0,cornum0);}
        }, 'json');

    });
{#======================================================================================================================#}
});
</script>

{% endblock %}